<a id=top></a>

# **目次**

<b>
    <details>
        <summary>
            <a href="#modules", style="font-size: xx-large">1. モジュールインポート</a>
            <ul>※サードパーティライブラリ>>>自作モジュール>>>（ここまで本ipynb外）>>>自作関数（本ipynb内）</ul>
        </summary>
    </details>
    <details>
        <summary>
            <a href="#data", style="font-size: xx-large">2. オリジナルデータインポート</a>
        </summary>
    </details>
    <details>
        <summary>
            <a href="#patentcount", style="font-size: xx-large">3. 特許数</a>
        </summary>
        <table></table>
    </details>
    <details>
        <summary>
            <a href="#calculateindicator", style="font-size: xx-large">4. 各指標</a>
        </summary>
    </details>
    <details>
        <summary>
            <a href="#output", style="font-size: xx-large">5. ファイルに出力</a>
        </summary>
    </details>
</b>

---

<a id=modules></a>

## **1. モジュールインポート**

In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.append('../../src')
from ecomplexity import ecomplexity

# 小数点以下 桁数 6
pd.options.display.float_format = '{:.3f}'.format

In [2]:
import initial_condition

In [3]:
global data_dir, output_dir
data_dir = '../../data/interim/internal/filtered_after_agg/'
output_dir = '../../data/processed/internal/'

In [4]:
# 初期条件
ar = initial_condition.AR
year_style = initial_condition.YEAR_STYLE

year_start = initial_condition.YEAR_START
year_end = initial_condition.YEAR_END
year_range = initial_condition.YEAR_RANGE

classification = initial_condition.CLASSIFICATION
class_weight = initial_condition.CLASS_WEIGHT
applicant_weight = initial_condition.APPLICANT_WEIGHT

extract_population = initial_condition.EXTRACT_POPULATION
top_p_or_num = initial_condition.TOP_P_OR_NUM

In [5]:
def kh_ki(c_df, classification, n=19):
    kh1_ki1_df = pd.merge(c_df.copy(), 
                        c_df[c_df['mcp']==1].groupby(['right_person_name'])[['ubiquity']].sum().reset_index(drop=False).copy().rename(columns={'ubiquity':'kh_1'}), 
                        on=['right_person_name'], how='left')
    kh1_ki1_df = pd.merge(kh1_ki1_df.copy(), 
                        c_df[c_df['mcp']==1].groupby([classification])[['diversity']].sum().reset_index(drop=False).copy().rename(columns={'diversity':'ki_1'}), 
                        on=[classification], how='left')
    kh1_ki1_df['kh_1'] = kh1_ki1_df['kh_1'] / kh1_ki1_df['diversity']
    kh1_ki1_df['ki_1'] = kh1_ki1_df['ki_1'] / kh1_ki1_df['ubiquity']
    kh_ki_df = kh1_ki1_df.copy()
    for i in range(n):
        kh_ki_df = pd.merge(kh_ki_df, 
                            kh_ki_df[kh_ki_df['mcp']==1].groupby(['right_person_name'])[[f'ki_{i+1}']].sum().reset_index(drop=False).copy()\
                                        .rename(columns={f'ki_{i+1}':f'kh_{i+2}'}), 
                            on=['right_person_name'], how='left')
        kh_ki_df = pd.merge(kh_ki_df, 
                            kh_ki_df[kh_ki_df['mcp']==1].groupby([classification])[[f'kh_{i+1}']].sum().reset_index(drop=False).copy()\
                                        .rename(columns={f'kh_{i+1}':f'ki_{i+2}'}), 
                            on=[classification], how='left')
        kh_ki_df[f'kh_{i+2}'] = kh_ki_df[f'kh_{i+2}'] / kh_ki_df['diversity']
        kh_ki_df[f'ki_{i+2}'] = kh_ki_df[f'ki_{i+2}'] / kh_ki_df['ubiquity']
    return kh_ki_df

---

<a id=data></a>

## **2. オリジナルデータインポート**

In [6]:
reg_num_top_df = pd.read_csv(f'{data_dir}{ar}_{year_style}_{extract_population}_{top_p_or_num[0]}_{top_p_or_num[1]}.csv', 
                             encoding='utf-8',
                             sep=',')
reg_num_top_df

      app_year_period right_person_name  schmoch35   reg_num
0           1981-2010          キヤノン株式会社          9 23609.000
1           1981-2010          キヤノン株式会社         28  9938.833
2           1981-2010          キヤノン株式会社          2  9424.667
3           1981-2010          キヤノン株式会社          6  7389.333
4           1981-2010          キヤノン株式会社          3  6325.500
...               ...               ...        ...       ...
51831       2001-2010         株式会社レゾナツク         12     1.333
51832       2001-2010         株式会社レゾナツク          6     1.000
51833       2001-2010         株式会社レゾナツク         30     1.000
51834       2001-2010         株式会社レゾナツク         35     0.500
51835       2001-2010         株式会社レゾナツク         16     0.500

[51836 rows x 4 columns]

<a href=#top>先頭に戻る</a>

---

<a id=calculateindicator></a>

## **4. 各指標**

In [7]:
trade_cols = {'time':f'{ar}_{year_style}_period', 'loc':'right_person_name', 'prod':classification, 'val':'reg_num'}
rename_col_dict = {'eci':'kci', 'pci':'tci'}
col_order_list = [f'{ar}_{year_style}_period', 'right_person_name', classification, 'reg_num', 'rca', 'mcp', 'diversity', 'ubiquity', 'kci', 'tci']

In [8]:
c_df = ecomplexity(reg_num_top_df,
                   cols_input = trade_cols, 
                   rca_mcp_threshold = 1)
c_df = c_df[c_df['reg_num'] > 0]\
           .rename(columns=rename_col_dict)\
           [col_order_list]
c_df = pd.concat([kh_ki(c_df[c_df[f'{ar}_{year_style}_period'] == period], classification) for period in c_df[f'{ar}_{year_style}_period'].unique()], 
                 axis='index', 
                 ignore_index=True)

# for segment in c_df[f'{ar}_{year_style}_period'].unique():
#     display(c_df[c_df[f'{ar}_{year_style}_period'] == segment].head())
#     display(c_df[c_df[f'{ar}_{year_style}_period'] == segment].describe())
#     print(c_df[c_df[f'{ar}_{year_style}_period'] == segment].info())
#     print('\n')

1981-2010
1981-1990
1991-2000
2001-2010

In [9]:
c_df.sort_values(by=[f'{ar}_{year_style}_period', 'kci'], ascending=[True, False])

,app_year_period,right_person_name,schmoch35,reg_num,rca,mcp,diversity,ubiquity,kci,tci,...,kh_16,ki_16,kh_17,ki_17,kh_18,ki_18,kh_19,ki_19,kh_20,ki_20
21266,1981-1990,日清オイリオグループ株式会社,2,7.500,0.415,0,5,81,1.791,-2.276,...,7.477,126.147,126.765,7.447,7.469,126.312,126.670,7.452,7.465,126.406
21267,1981-1990,日清オイリオグループ株式会社,9,1.000,0.055,0,5,73,1.791,-0.735,...,7.477,126.389,126.765,7.455,7.469,126.451,126.670,7.457,7.465,126.486
21268,1981-1990,日清オイリオグループ株式会社,10,1.000,0.072,0,5,175,1.791,-0.586,...,7.477,126.430,126.765,7.455,7.469,126.472,126.670,7.457,7.465,126.497
21269,1981-1990,日清オイリオグループ株式会社,13,1.000,0.295,0,5,93,1.791,0.916,...,7.477,126.637,126.765,7.464,7.469,126.595,126.670,7.462,7.465,126.569
21270,1981-1990,日清オイリオグループ株式会社,14,55.500,10.562,1,5,87,1.791,2.104,...,7.477,126.806,126.765,7.471,7.469,126.695,126.670,7.466,7.465,126.628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51188,2001-2010,Ｄｙｎａｂｏｏｋ株式会社,27,1.000,0.047,0,4,94,-2.825,0.136,...,7.622,122.733,122.493,7.633,7.628,122.719,122.593,7.634,7.631,122.713
51189,2001-2010,Ｄｙｎａｂｏｏｋ株式会社,29,0.333,0.020,0,4,166,-2.825,1.134,...,7.622,122.783,122.493,7.637,7.628,122.748,122.593,7.636,7.631,122.730
51190,2001-2010,Ｄｙｎａｂｏｏｋ株式会社,30,6.000,0.485,0,4,106,-2.825,0.334,...,7.622,122.730,122.493,7.634,7.628,122.719,122.593,7.634,7.631,122.714
51191,2001-2010,Ｄｙｎａｂｏｏｋ株式会社,31,1.000,0.059,0,4,125,-2.825,0.252,...,7.622,122.737,122.493,7.633,7.628,122.722,122.593,7.634,7.631,122.715
51192,2001-2010,Ｄｙｎａｂｏｏｋ株式会社,34,2.000,0.230,0,4,84,-2.825,-0.062,...,7.622,122.686,122.493,7.633,7.628,122.698,122.593,7.634,7.631,122.703

<a href="#top">先頭に戻る</a>

---

<a id=output></a>

## **5. ファイルに出力**

<a id=rightperson></a>

### **5.1. 特許権者**

In [10]:

right_person_df = pd.merge(c_df.groupby([f'{ar}_{year_style}_period', 'right_person_name'])[['reg_num']].sum().reset_index(drop=False), 
                           c_df.groupby([f'{ar}_{year_style}_period', 'right_person_name'])[[classification]].nunique().reset_index(drop=False), 
                           on=[f'{ar}_{year_style}_period', 'right_person_name'], 
                           how='inner')
right_person_df = pd.merge(right_person_df, 
                           c_df[[f'{ar}_{year_style}_period', 'right_person_name', 'diversity', 'kci']\
                               +[f'kh_{i}' for i in range(1, 20+1)]]\
                               .drop_duplicates(keep='first'), 
                           on=[f'{ar}_{year_style}_period', 'right_person_name'], 
                           how='inner')
# for period in right_person_df[f'{ar}_{year_style}_period'].unique():
#     for i in range(1, 20+1):
#         value = right_person_df[right_person_df[f'{ar}_{year_style}_period']==period]
#         right_person_df[right_person_df[f'{ar}_{year_style}_period']==period][f'kh_{i}'] = (value[f'kh_{i}'] - value[f'kh_{i}'].mean()) / value[f'kh_{i}'].std()
#     display(right_person_df[right_person_df[f'{ar}_{year_style}_period'] == period].head())
#     display(right_person_df[right_person_df[f'{ar}_{year_style}_period'] == period].describe())
#     print(right_person_df[right_person_df[f'{ar}_{year_style}_period'] == period].info())
#     print('\n')
# right_person_df['reg_num'] = right_person_df['reg_num'].astype(np.int64)

In [11]:
right_person_df.to_csv(f'{output_dir}firms/{ar}_{year_style}_{top_p_or_num[0]}_{top_p_or_num[1]}.csv', 
                       encoding='utf-8', 
                       sep=',', 
                       index=False)

<a href=#top>先頭に戻る</a>

---

<a id=ipc></a>

### **5.2. IPC**

In [12]:
# 各期間
classification_df = pd.merge(c_df.groupby([f'{ar}_{year_style}_period', classification])[['reg_num']].sum().reset_index(drop=False), 
                        c_df.groupby([f'{ar}_{year_style}_period', classification])[['right_person_name']].nunique().reset_index(drop=False), 
                        on=[f'{ar}_{year_style}_period', classification], 
                        how='inner')
classification_df = pd.merge(classification_df, 
                      c_df[[f'{ar}_{year_style}_period', classification, 'ubiquity', 'tci']\
                          +[f'ki_{i}' for i in range(1, 20+1)]]\
                          .drop_duplicates(keep='first'), 
                      on=[f'{ar}_{year_style}_period', classification], 
                      how='inner')
classification_df['reg_num'] = classification_df['reg_num'].astype(np.int64)
display(classification_df)

,app_year_period,schmoch35,reg_num,right_person_name,ubiquity,tci,ki_1,ki_2,ki_3,ki_4,...,ki_11,ki_12,ki_13,ki_14,ki_15,ki_16,ki_17,ki_18,ki_19,ki_20
0,1981-1990,1,48775,477,118,-1.121,6.695,120.598,7.093,122.545,...,7.423,125.989,7.439,126.213,7.447,126.346,7.452,126.424,7.455,126.469
1,1981-1990,2,50732,408,81,-2.276,6.358,101.657,6.933,113.578,...,7.397,125.336,7.422,125.855,7.438,126.147,7.447,126.312,7.452,126.406
2,1981-1990,3,22941,277,73,-2.817,6.589,97.554,6.944,111.138,...,7.382,125.088,7.414,125.713,7.432,126.064,7.444,126.264,7.450,126.378
3,1981-1990,4,4090,135,52,-3.204,7.135,92.935,6.973,109.148,...,7.372,124.901,7.408,125.606,7.429,126.004,7.441,126.229,7.449,126.358
4,1981-1990,5,11636,215,77,-2.926,6.675,97.499,6.934,110.655,...,7.380,125.029,7.412,125.679,7.432,126.046,7.443,126.254,7.450,126.372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,2001-2010,31,27100,462,125,0.252,6.912,125.841,7.245,125.305,...,7.616,122.847,7.626,122.771,7.631,122.737,7.633,122.722,7.634,122.715
136,2001-2010,32,53960,340,99,0.021,5.939,124.112,7.042,124.842,...,7.610,122.807,7.623,122.748,7.629,122.724,7.632,122.714,7.633,122.711
137,2001-2010,33,51674,350,67,-1.156,4.164,93.915,5.931,109.226,...,7.541,122.079,7.589,122.408,7.612,122.563,7.624,122.637,7.629,122.673
138,2001-2010,34,13886,362,84,-0.062,7.071,112.042,7.349,119.192,...,7.621,122.605,7.628,122.661,7.631,122.686,7.633,122.698,7.634,122.703
139,2001-2010,35,27084,404,129,0.414,6.775,129.271,7.337,125.597,...,7.624,122.827,7.630,122.767,7.632,122.738,7.634,122.723,7.634,122.716

In [13]:
classification_df.to_csv(f'{output_dir}technology/{ar}_{year_style}_{top_p_or_num[0]}_{top_p_or_num[1]}.csv', 
                        encoding='utf-8', 
                        sep=',', 
                        index=False)

<a href=#top>先頭に戻る</a>

---

<a id=network></a>

## **5.3. 二部グラフ用**

In [15]:
# graph_df = pd.concat([c_df, c_df], axis='index')
# graph_df = graph_df[graph_df['mcp']==1][[f'{ar}_{year_style}', 'right_person_name', 'ipc_class', 'mcp']]
# graph_df

In [16]:
# graph_df.to_csv(f'../Data/0_Graph/{ar}_{year_start}_{year_end}.csv', 
#                 encoding='utf-8', 
#                 sep=',', 
#                 index=False)
# graph_df