<a id=top></a>

# **目次**

<b>
    <details>
        <summary>
            <a href="#modules", style="font-size: xx-large">1. モジュールインポート</a>
            <ul>※サードパーティライブラリ>>>自作モジュール>>>（ここまで本ipynb外）>>>自作関数（本ipynb内）</ul>
        </summary>
    </details>
    <details>
        <summary>
            <a href="#data", style="font-size: xx-large">2. オリジナルデータインポート</a>
        </summary>
    </details>
    <details>
        <summary>
            <a href="#patentcount", style="font-size: xx-large">3. 特許数</a>
        </summary>
        <table></table>
    </details>
    <details>
        <summary>
            <a href="#calculateindicator", style="font-size: xx-large">4. 各指標</a>
        </summary>
    </details>
    <details>
        <summary>
            <a href="#output", style="font-size: xx-large">5. ファイルに出力</a>
        </summary>
    </details>
</b>

---

<a id=modules></a>

## **1. モジュールインポート**

In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.append('../../src')
from ecomplexity import ecomplexity

# 小数点以下 桁数 6
pd.options.display.float_format = '{:.3f}'.format

In [2]:
import initial_condition

In [3]:
global data_dir, output_dir
data_dir = '../../data/interim/internal/filtered_after_agg/'
output_dir = '../../data/processed/internal/'

In [4]:
# 初期条件
ar = initial_condition.AR
year_style = initial_condition.YEAR_STYLE

year_start = initial_condition.YEAR_START
year_end = initial_condition.YEAR_END
year_range = initial_condition.YEAR_RANGE

classification = initial_condition.CLASSIFICATION
class_weight = initial_condition.CLASS_WEIGHT
applicant_weight = initial_condition.APPLICANT_WEIGHT

extract_population = initial_condition.EXTRACT_POPULATION
top_p_or_num = initial_condition.TOP_P_OR_NUM

In [5]:
top_p_or_num

('num', 500)

In [6]:
def kh_ki(c_df, classification, n=19):
    kh1_ki1_df = pd.merge(c_df.copy(), 
                        c_df[c_df['mcp']==1].groupby(['right_person_name'])[['ubiquity']].sum().reset_index(drop=False).copy().rename(columns={'ubiquity':'kh_1'}), 
                        on=['right_person_name'], how='left')
    kh1_ki1_df = pd.merge(kh1_ki1_df.copy(), 
                        c_df[c_df['mcp']==1].groupby([classification])[['diversity']].sum().reset_index(drop=False).copy().rename(columns={'diversity':'ki_1'}), 
                        on=[classification], how='left')
    kh1_ki1_df['kh_1'] = kh1_ki1_df['kh_1'] / kh1_ki1_df['diversity']
    kh1_ki1_df['ki_1'] = kh1_ki1_df['ki_1'] / kh1_ki1_df['ubiquity']
    kh_ki_df = kh1_ki1_df.copy()
    for i in range(n):
        kh_ki_df = pd.merge(kh_ki_df, 
                            kh_ki_df[kh_ki_df['mcp']==1].groupby(['right_person_name'])[[f'ki_{i+1}']].sum().reset_index(drop=False).copy()\
                                        .rename(columns={f'ki_{i+1}':f'kh_{i+2}'}), 
                            on=['right_person_name'], how='left')
        kh_ki_df = pd.merge(kh_ki_df, 
                            kh_ki_df[kh_ki_df['mcp']==1].groupby([classification])[[f'kh_{i+1}']].sum().reset_index(drop=False).copy()\
                                        .rename(columns={f'kh_{i+1}':f'ki_{i+2}'}), 
                            on=[classification], how='left')
        kh_ki_df[f'kh_{i+2}'] = kh_ki_df[f'kh_{i+2}'] / kh_ki_df['diversity']
        kh_ki_df[f'ki_{i+2}'] = kh_ki_df[f'ki_{i+2}'] / kh_ki_df['ubiquity']
    return kh_ki_df

---

<a id=data></a>

## **2. オリジナルデータインポート**

In [7]:
reg_num_top_df = pd.read_csv(f'{data_dir}{ar}_{year_style}_{extract_population}_{top_p_or_num[0]}_{top_p_or_num[1]}.csv', 
                             encoding='utf-8',
                             sep=',')
reg_num_top_df

      app_year_period right_person_name  schmoch35   reg_num
0           1981-2010          キヤノン株式会社          9 23609.000
1           1981-2010          キヤノン株式会社         28  9938.833
2           1981-2010          キヤノン株式会社          2  9424.667
3           1981-2010          キヤノン株式会社          6  7389.333
4           1981-2010          キヤノン株式会社          3  6325.500
...               ...               ...        ...       ...
43209       2001-2010       日鉄ステンレス株式会社         27     0.250
43210       2001-2010         株式会社小糸製作所         35     0.250
43211       2001-2010          住友化学株式会社          7     0.250
43212       2001-2010   独立行政法人物質・材料研究機構         13     0.167
43213       2001-2010          戸田建設株式会社          2     0.143

[43214 rows x 4 columns]

In [8]:
reg_num_top_df['right_person_name'].nunique()

500

<a href=#top>先頭に戻る</a>

---

<a id=calculateindicator></a>

## **4. 各指標**

In [9]:
trade_cols = {'time':f'{ar}_{year_style}_period', 'loc':'right_person_name', 'prod':classification, 'val':'reg_num'}
rename_col_dict = {'eci':'kci', 'pci':'tci'}
col_order_list = [f'{ar}_{year_style}_period', 'right_person_name', classification, 'reg_num', 'rca', 'mcp', 'diversity', 'ubiquity', 'kci', 'tci']

In [10]:
c_df = ecomplexity(reg_num_top_df,
                   cols_input = trade_cols, 
                   rca_mcp_threshold = 1)
c_df = c_df[c_df['reg_num'] > 0]\
           .rename(columns=rename_col_dict)\
           [col_order_list]
c_df = pd.concat([kh_ki(c_df[c_df[f'{ar}_{year_style}_period'] == period], classification) for period in c_df[f'{ar}_{year_style}_period'].unique()], 
                 axis='index', 
                 ignore_index=True)

# for segment in c_df[f'{ar}_{year_style}_period'].unique():
#     display(c_df[c_df[f'{ar}_{year_style}_period'] == segment].head())
#     display(c_df[c_df[f'{ar}_{year_style}_period'] == segment].describe())
#     print(c_df[c_df[f'{ar}_{year_style}_period'] == segment].info())
#     print('\n')

1981-2010
1981-1990
1991-2000
2001-2010

In [11]:
c_df.sort_values(by=[f'{ar}_{year_style}_period', 'kci'], ascending=[True, False])

,app_year_period,right_person_name,schmoch35,reg_num,rca,mcp,diversity,ubiquity,kci,tci,...,kh_16,ki_16,kh_17,ki_17,kh_18,ki_18,kh_19,ki_19,kh_20,ki_20
16187,1981-1990,大塚製薬株式会社,10,1.000,0.053,0,5,144,1.610,-0.486,...,7.710,100.977,101.211,7.688,7.702,101.005,101.143,7.690,7.698,101.022
16188,1981-1990,大塚製薬株式会社,11,11.500,15.400,1,5,90,1.610,1.014,...,7.710,101.142,101.211,7.698,7.702,101.103,101.143,7.696,7.698,101.079
16189,1981-1990,大塚製薬株式会社,13,1.000,0.217,0,5,72,1.610,0.828,...,7.710,101.120,101.211,7.697,7.702,101.090,101.143,7.695,7.698,101.072
16190,1981-1990,大塚製薬株式会社,14,199.500,29.467,1,5,65,1.610,1.960,...,7.710,101.249,101.211,7.704,7.702,101.165,101.143,7.699,7.698,101.116
16191,1981-1990,大塚製薬株式会社,15,36.000,18.069,1,5,82,1.610,1.722,...,7.710,101.225,101.211,7.703,7.702,101.151,101.143,7.698,7.698,101.107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42616,2001-2010,ＦＣＮＴ株式会社,21,1.000,0.065,0,5,134,-2.440,1.225,...,7.863,98.227,97.997,7.882,7.869,98.198,98.073,7.880,7.873,98.182
42617,2001-2010,ＦＣＮＴ株式会社,25,2.000,0.084,0,5,108,-2.440,-0.038,...,7.863,98.147,97.997,7.877,7.869,98.154,98.073,7.877,7.873,98.158
42618,2001-2010,ＦＣＮＴ株式会社,29,1.000,0.051,0,5,128,-2.440,1.216,...,7.863,98.227,97.997,7.882,7.869,98.198,98.073,7.880,7.873,98.182
42619,2001-2010,ＦＣＮＴ株式会社,31,3.500,0.176,0,5,100,-2.440,0.285,...,7.863,98.185,97.997,7.876,7.869,98.173,98.073,7.877,7.873,98.168
42620,2001-2010,ＦＣＮＴ株式会社,34,3.000,0.309,0,5,67,-2.440,-0.123,...,7.863,98.137,97.997,7.875,7.869,98.149,98.073,7.876,7.873,98.156

In [12]:
c_df[(c_df[classification]==22)&(c_df[f'{ar}_{year_style}_period']=='1981-1990')]

,app_year_period,right_person_name,schmoch35,reg_num,rca,mcp,diversity,ubiquity,kci,tci,...,kh_16,ki_16,kh_17,ki_17,kh_18,ki_18,kh_19,ki_19,kh_20,ki_20
18775,1981-1990,株式会社クラレ,22,0.500,297.321,1,13,1,1.138,1.882,...,7.704,101.236,101.158,7.704,7.699,101.158,101.112,7.699,7.696,101.112

<a href="#top">先頭に戻る</a>

---

<a id=output></a>

## **5. ファイルに出力**

<a id=rightperson></a>

### **5.1. 特許権者**

In [13]:

right_person_df = pd.merge(c_df.groupby([f'{ar}_{year_style}_period', 'right_person_name'])[['reg_num']].sum().reset_index(drop=False), 
                           c_df.groupby([f'{ar}_{year_style}_period', 'right_person_name'])[[classification]].nunique().reset_index(drop=False), 
                           on=[f'{ar}_{year_style}_period', 'right_person_name'], 
                           how='inner')
right_person_df = pd.merge(right_person_df, 
                           c_df[[f'{ar}_{year_style}_period', 'right_person_name', 'diversity', 'kci']\
                               +[f'kh_{i}' for i in range(1, 20+1)]]\
                               .drop_duplicates(keep='first'), 
                           on=[f'{ar}_{year_style}_period', 'right_person_name'], 
                           how='inner')
# for period in right_person_df[f'{ar}_{year_style}_period'].unique():
#     for i in range(1, 20+1):
#         value = right_person_df[right_person_df[f'{ar}_{year_style}_period']==period]
#         right_person_df[right_person_df[f'{ar}_{year_style}_period']==period][f'kh_{i}'] = (value[f'kh_{i}'] - value[f'kh_{i}'].mean()) / value[f'kh_{i}'].std()
#     display(right_person_df[right_person_df[f'{ar}_{year_style}_period'] == period].head())
#     display(right_person_df[right_person_df[f'{ar}_{year_style}_period'] == period].describe())
#     print(right_person_df[right_person_df[f'{ar}_{year_style}_period'] == period].info())
#     print('\n')
# right_person_df['reg_num'] = right_person_df['reg_num'].astype(np.int64)

In [14]:
right_person_df.to_csv(f'{output_dir}firms/{ar}_{year_style}_{top_p_or_num[0]}_{top_p_or_num[1]}.csv', 
                       encoding='utf-8', 
                       sep=',', 
                       index=False)

<a href=#top>先頭に戻る</a>

---

<a id=ipc></a>

### **5.2. IPC**

In [15]:
# 各期間
classification_df = pd.merge(c_df.groupby([f'{ar}_{year_style}_period', classification])[['reg_num']].sum().reset_index(drop=False), 
                        c_df.groupby([f'{ar}_{year_style}_period', classification])[['right_person_name']].nunique().reset_index(drop=False), 
                        on=[f'{ar}_{year_style}_period', classification], 
                        how='inner')
classification_df = pd.merge(classification_df, 
                      c_df[[f'{ar}_{year_style}_period', classification, 'ubiquity', 'tci']\
                          +[f'ki_{i}' for i in range(1, 20+1)]]\
                          .drop_duplicates(keep='first'), 
                      on=[f'{ar}_{year_style}_period', classification], 
                      how='inner')
# classification_df['reg_num'] = classification_df['reg_num'].astype(np.int64)
display(classification_df)

,app_year_period,schmoch35,reg_num,right_person_name,ubiquity,tci,ki_1,ki_2,ki_3,ki_4,...,ki_11,ki_12,ki_13,ki_14,ki_15,ki_16,ki_17,ki_18,ki_19,ki_20
0,1981-1990,1,47695.614,394,91,-0.858,6.956,97.970,7.309,98.980,...,7.659,100.715,7.674,100.850,7.682,100.931,7.686,100.979,7.689,101.007
1,1981-1990,2,49754.695,351,68,-2.244,6.603,82.597,7.143,91.463,...,7.627,100.135,7.654,100.528,7.670,100.751,7.679,100.877,7.685,100.949
2,1981-1990,3,22614.886,247,60,-2.873,6.783,79.807,7.144,89.491,...,7.609,99.903,7.643,100.395,7.663,100.674,7.675,100.833,7.682,100.924
3,1981-1990,4,4040.332,125,43,-3.271,7.279,76.031,7.155,87.889,...,7.597,99.758,7.636,100.312,7.659,100.626,7.673,100.806,7.681,100.908
4,1981-1990,5,11401.917,191,63,-2.995,6.921,78.921,7.149,88.953,...,7.606,99.856,7.641,100.368,7.662,100.659,7.675,100.824,7.682,100.919
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,2001-2010,31,25927.519,376,100,0.285,7.110,101.188,7.448,100.311,...,7.858,98.271,7.869,98.212,7.873,98.185,7.876,98.173,7.877,98.168
136,2001-2010,32,51894.380,288,80,0.123,6.150,99.506,7.253,99.987,...,7.852,98.252,7.866,98.200,7.872,98.178,7.875,98.169,7.876,98.165
137,2001-2010,33,50005.917,293,55,-2.245,4.000,74.421,5.865,86.117,...,7.740,97.399,7.807,97.773,7.842,97.962,7.859,98.059,7.868,98.108
138,2001-2010,34,12636.667,301,67,-0.123,7.284,89.201,7.564,95.262,...,7.860,98.058,7.869,98.111,7.873,98.137,7.875,98.149,7.876,98.156
139,2001-2010,35,24236.038,334,99,0.363,6.889,101.946,7.509,100.035,...,7.862,98.242,7.871,98.201,7.874,98.181,7.876,98.172,7.877,98.167

In [16]:
classification_df.to_csv(f'{output_dir}technology/{ar}_{year_style}_{top_p_or_num[0]}_{top_p_or_num[1]}.csv', 
                        encoding='utf-8', 
                        sep=',', 
                        index=False)

<a href=#top>先頭に戻る</a>

---

<a id=network></a>

## **5.3. 二部グラフ用**

In [17]:
# graph_df = pd.concat([c_df, c_df], axis='index')
# graph_df = graph_df[graph_df['mcp']==1][[f'{ar}_{year_style}', 'right_person_name', 'ipc_class', 'mcp']]
# graph_df

In [18]:
# graph_df.to_csv(f'../Data/0_Graph/{ar}_{year_start}_{year_end}.csv', 
#                 encoding='utf-8', 
#                 sep=',', 
#                 index=False)
# graph_df