In [1]:
import pandas as pd
import numpy as np
from glob import glob

In [2]:
needed_col_list = [
                   'doc_key_num', # 文献番号
                   'ipc', # IPC
                   'first_class_flg'
                   ]

original_df_list = [pd.read_csv(path, 
                                sep='\t', 
                                encoding='utf-8', 
                                dtype=object)
                    for path in glob('../Data/Original/*/JPWIP/upd_dsptch_fin_ipc.tsv')]

In [3]:
ipc_df_list = original_df_list.copy()
ipc_df = pd.concat(ipc_df_list, 
                   ignore_index=True, 
                   axis='index')\
                   [needed_col_list]

ipc_df['patent_flag'] = ipc_df['doc_key_num'].str[:1]
# ipc_df['doc_key_num'] = ipc_df['doc_key_num'].astype(np.int64) # ここでエラーが出れば，例外処理が必要
ipc_df['app_num'] = ipc_df['doc_key_num'].str[1:]
ipc_exception_df = ipc_df[ipc_df['doc_key_num'].str.contains('JPB')].copy()

ipc_df = ipc_df[ipc_df['patent_flag']=='1']\
               .reset_index(drop=True)\
               .drop(['patent_flag', 'doc_key_num'], axis='columns')

ipc_df = ipc_df[ipc_df['first_class_flg']=='F'][['ipc', 'app_num']]
ipc_df

                    ipc     app_num
0           B01J  20/08  2016174271
10       H01L  27/11575  2016245031
17          D06M  11/00  2017022828
25         B23K  26/142  2017038084
28          B01D  61/22  2017181003
...                 ...         ...
1724049     B65G   1/06  2023517335
1724050     B66B  11/02  2023532592
1724051     B05D   1/36  2023533762
1724061     H05K   7/20  2023540983
1724062     B21D  22/22  2023543421

[405855 rows x 2 columns]

In [4]:
ipc_df.to_csv('../Data/Dealed/ipc.csv', sep=',', encoding='utf-8', index=False)

In [ ]:
# ipc_exception_df.to_csv('../Data/Extracted/ipc_exception.csv', sep=',', encoding='utf-8', index=False)