In [1]:
import pandas as pd
import numpy as np

In [2]:
global ex_data_dir, in_data_dir
ex_data_dir = '../../data/processed/external/'
in_data_dir = '../../data/interim/internal/filtered_before_agg/'

In [4]:
schmoch_df = pd.read_csv(ex_data_dir + 'schmoch/35.csv', 
                         encoding='utf-8', 
                         sep=',', 
                         dtype=str)
schmoch_df = schmoch_df.sort_values(by='IPC_code', 
                                    key=lambda s: s.str.len(), 
                                    ascending=True)
# schmoch_df['Field_en'].nunique()
ipc_to_schmoch35_dict = dict(zip(schmoch_df['IPC_code'], schmoch_df['Field_number']))
schmoch35_to_describe_dict = dict(zip(schmoch_df['IPC_code'], schmoch_df['Field_number']))
# ipc_to_schmoch35_dict

In [5]:
df = pd.read_csv(in_data_dir + 'filtered.csv')
df

,reg_num,ipc,right_person_name,app_year,app_nendo,reg_year,reg_nendo
0,5684492,G10H 3/18,ＤＲＣ合同会社,2010,2010,2015,2014
1,5684512,B62D 57/02,株式会社ＩＨＩエアロスペース,2010,2010,2015,2014
2,5684598,A47C 7/62,株式会社オカムラ,2011,2010,2015,2014
3,5684620,H01M 4/62,三井化学株式会社,2011,2010,2015,2014
4,5684633,G06F 12/02,日本電信電話株式会社,2011,2011,2015,2014
...,...,...,...,...,...,...,...
5790567,1846641,G09B 23/40,国立科学博物館長,1988,1987,1994,1994
5790568,1846642,G09B 23/40,国立科学博物館長,1988,1987,1994,1994
5790569,1846643,G09B 23/40,国立科学博物館長,1988,1987,1994,1994
5790570,1846644,G09B 23/40,国立科学博物館長,1988,1987,1994,1994
5790571,3201763,C23C 18/32,学校法人早稲田大学,1990,1990,2001,2001

In [7]:
df['schmoch35'] = ''
for ipc, schmoch35 in ipc_to_schmoch35_dict.items():
    df['schmoch35'] = np.where(df['ipc'].str.startswith(ipc), 
                                ipc_to_schmoch35_dict[ipc], 
                                df['schmoch35'])
df

,reg_num,ipc,right_person_name,app_year,app_nendo,reg_year,reg_nendo,schmoch35
0,5684492,G10H 3/18,ＤＲＣ合同会社,2010,2010,2015,2014,34
1,5684512,B62D 57/02,株式会社ＩＨＩエアロスペース,2010,2010,2015,2014,32
2,5684598,A47C 7/62,株式会社オカムラ,2011,2010,2015,2014,33
3,5684620,H01M 4/62,三井化学株式会社,2011,2010,2015,2014,1
4,5684633,G06F 12/02,日本電信電話株式会社,2011,2011,2015,2014,6
...,...,...,...,...,...,...,...,...
5790567,1846641,G09B 23/40,国立科学博物館長,1988,1987,1994,1994,12
5790568,1846642,G09B 23/40,国立科学博物館長,1988,1987,1994,1994,12
5790569,1846643,G09B 23/40,国立科学博物館長,1988,1987,1994,1994,12
5790570,1846644,G09B 23/40,国立科学博物館長,1988,1987,1994,1994,12
5790571,3201763,C23C 18/32,学校法人早稲田大学,1990,1990,2001,2001,21

In [ ]:
# df['schmoch35'].unique()

array(['34', '32', '33', '1', '6', '27', '21', '3', '5', '31', '4', '7',
       '9', '14', '18', '10', '35', '8', '30', '17', '2', '13', '28',
       '19', '20', '25', '23', '24', '29', '15', '26', '11', '12', '22',
       '16'], dtype=object)

In [8]:
df.to_csv(in_data_dir + 'addedclassification.csv', 
          encoding='utf-8', 
          index=False, 
          sep=',')