In [18]:
import pandas as pd
import numpy as np
from glob import glob

In [19]:
global data_dir, output_dir
data_dir = '../../data/original/internal/bulk/JPWRP/'
output_dir = '../../data/interim/internal/bulk/'

In [20]:
needed_col_dict = {
                   'upd_mgt_info_p.tsv':[
                                        # 'processing_type', # 処理種別
                                        #  'law_cd', # 四法コード
                                         'reg_num', # 登録番号
                                        #  'split_num',# 分割番号
                                         'app_num', # 出願番号
                                         'app_year_month_day', # 出願日
                                         'set_reg_year_month_day', # 設定登録日
                                         # 'pri_cntry_name_cd' # 優先権国コード
                                         ], 
                   'upd_right_person_art_p.tsv':[
                                                #  'law_cd', # 四法コード
                                                 'reg_num', # 登録番号
                                                #  'split_num', # 分割番号
                                                # 'right_person_appl_id', # 特許権者申請人ID
                                                 'right_person_addr', # 特許権者住所
                                                 'right_person_name' # 特許権者名
                                                 ]
                   }

In [21]:
original_df_dict = {file: [pd.read_csv(path,
                                       sep='\t', 
                                       encoding='utf-8', 
                                       dtype=str, 
                                       usecols=needed_col_dict[file])
                           for path in glob(data_dir+file.split('.')[0]+'/*')]\
                    for file in needed_col_dict.keys()}

## 登録情報マスタ

In [22]:
mgt_df_list = original_df_dict['upd_mgt_info_p.tsv'].copy()
mgt_df = pd.concat(mgt_df_list, 
                   ignore_index=True, 
                   axis='index')\
           .drop_duplicates(keep='first')\
           .reset_index(drop=True)
mgt_df.head()
# mgt_df.describe(include='all')

   reg_num     app_num app_year_month_day set_reg_year_month_day
0  5684381  2013517108           20110708               20150123
1  5684399  2013537955           20120209               20150123
2  5684460  2009092178           20090406               20150123
3  5684492  2010109835           20100512               20150123
4  5684500  2010142208           20100623               20150123

In [23]:
mgt_df.to_csv(f'{output_dir}reg_info.csv', 
              sep=',', 
              encoding='utf-8', 
              index=False)

---

## 特許権者 全数ver.

In [24]:
hr_df_list = original_df_dict['upd_right_person_art_p.tsv'].copy()
hr_df = pd.concat([df for df in hr_df_list], 
                   ignore_index=True, 
                   axis='index')\
        [needed_col_dict['upd_right_person_art_p.tsv']]\
        .drop_duplicates(keep='first')\
        .reset_index(drop=True)
hr_df.head()
# hr_df.describe(include='all')

   reg_num right_person_addr             right_person_name
0  4843617           アメリカ合衆国            モックステック・インコーポレーテッド
1  4844982              大韓民国  ケミコス　クリエイションズ　コリア　カンパニーリミテッド
2  4845158            東京都荒川区                   精電舎電子工業株式会社
3  4845511            埼玉県加須市              ブリヂストンフローテック株式会社
4  4846870            東京都文京区                      日立建機株式会社

In [25]:
hr_df.to_csv(f'{output_dir}hr.csv', 
              sep=',', 
              encoding='utf-8', 
              index=False)