In [5]:
import pandas as pd
import numpy as np

In [6]:
global data_dir
data_dir = '../../data/original/internal/stack/JPRP/'
output_dir = '../../data/interim/internal/stack/'

In [7]:
needed_col_dict = {
                   'upd_mgt_info_p.tsv':[
                                        # 'processing_type', # 処理種別
                                        #  'law_cd', # 四法コード
                                         'reg_num', # 登録番号
                                        #  'split_num',# 分割番号
                                         'app_num', # 出願番号
                                         'app_year_month_day', # 出願日
                                         'set_reg_year_month_day', # 設定登録日
                                         # 'pri_cntry_name_cd' # 優先権国コード
                                         ], 
                   'upd_right_person_art_p.tsv':[
                                                #  'law_cd', # 四法コード
                                                 'reg_num', # 登録番号
                                                #  'split_num', # 分割番号
                                                # 'right_person_appl_id', # 特許権者申請人ID
                                                 'right_person_addr', # 特許権者住所
                                                 'right_person_name' # 特許権者名
                                                 ]
                   }

In [8]:
original_df_dict = {file: pd.read_csv(data_dir + file,
                                      sep='\t', 
                                      encoding='utf-8', 
                                      dtype=str, 
                                      usecols=needed_col_dict[file])
                    for file in needed_col_dict.keys()}

## 登録情報マスタ

In [9]:
mgt_df = original_df_dict['upd_mgt_info_p.tsv'].copy()
# mgt_df = mgt_df[needed_col_dict['upd_mgt_info_p.tsv']]
mgt_df.head()
# mgt_df.describe(include='all')

   reg_num     app_num app_year_month_day set_reg_year_month_day
0  2908792  1998173999           19980605               19990402
1  4346982  2003200098           20030722               20090724
2  4346988  2003281280           20030728               20090724
3  4347008  2003331940           20030924               20090724
4  5032649  2010280960           20101216               20120706

In [10]:
mgt_df.to_csv(f'{output_dir}reg_info.csv', 
              sep=',', 
              encoding='utf-8', 
              index=False)

---

## 特許権者 全数ver.

In [11]:
hr_df = original_df_dict['upd_right_person_art_p.tsv'].copy()
# hr_df = hr_df[needed_col_dict['upd_right_person_art_p.tsv']]
hr_df.head()
# hr_df#.describe(include='all')

   reg_num right_person_addr                        right_person_name
0  0492885              スイス国    エフ　ホフマン　ラ　ロツシユ　ウント　コンパニ－　アクチエンゲゼルシヤフト
1  0492906          ドイツ連邦共和国  バ－デイツシエ　アニリン　ウント　ソ－ダ　フアブリク　アクチエンゲゼルシヤフト
2  0492909             イギリス国                  スタフレツクス　インタ－ナシヨナル　リミテツド
3  0492983               大阪市                                旭化成工業株式会社
4  0493007             大和高田市                             ブジボウメリヤス株式会社

In [12]:
hr_df.to_csv(f'{output_dir}hr.csv', 
             sep=',', 
             encoding='utf-8', 
             index=False)