In [47]:
import pandas as pd
import numpy as np
import re
from glob import glob
import regex
from googletrans import Translator

In [33]:
global data_dir, output_dir
data_dir = '../../data/original/external/schmoch/'
output_dir = '../../data/processed/external/schmoch/'

In [34]:
df_dict = pd.read_excel(f'{data_dir}ipc_technology.xlsx', 
                        sheet_name=None, 
                        engine='openpyxl', 
                        header=6, 
                        usecols=['Field_number', 'Field_en', 'IPC_code'])
df_dict.keys()

dict_keys(['35 Fields of Technology', 'Energy Technology'])

In [35]:
df_35 = df_dict['35 Fields of Technology'].copy()
df_35['IPC_code'] = df_35['IPC_code'].str.replace('%', '')
df_35

     Field_number                                 Field_en IPC_code
0               1  Electrical machinery, apparatus, energy     F21H
1               1  Electrical machinery, apparatus, energy     F21K
2               1  Electrical machinery, apparatus, energy     F21L
3               1  Electrical machinery, apparatus, energy     F21S
4               1  Electrical machinery, apparatus, energy     F21V
..            ...                                      ...      ...
765            35                        Civil engineering     E21B
766            35                        Civil engineering     E21C
767            35                        Civil engineering     E21D
768            35                        Civil engineering     E21F
769            35                        Civil engineering     E99Z

[770 rows x 3 columns]

In [36]:
df_35.to_csv(f'{output_dir}35.csv', 
             sep=',', 
             encoding='utf-8', 
             index=False)

In [45]:
description_str = '''1. Electrical machinery, apparatus, energy: the field primarily covers the non-electronic part of electrical engineering, for instance, the generation, conversion and distribution of electric power, electric machines but also basic electric elements such as resistors, magnets, capacitors, lamps or cables. This field is often associated with “traditional” electrical engineering, but the high patent activity shows that technological innovation is still very important.
2. Audio-visual technology: audio-visual technology is largely equivalent to consumer electronics. The relevant IPC codes primarily refer to technologies and only sometimes products are directly addressed (H04R Loudspeakers ..., H04S Stereophonic systems)
3. Telecommunications: telecommunications is a very broad field covering a variety of techniques and products. The IPC codes are often quite technology-oriented, so that it is difficult to separate relevant product/applications areas such as mobile communication in a clear-cut field.
4. Digital communication: in the ISI-OST-INPI classification, this field was part of telecommunications. At present, it is a self-contained technology at the border between telecommunications and computer technology. A core application of this technology is the internet.
5. Basic communication processes: in the ISI-OST-INPI classification, this field was part of telecommunications. It covers very basic technologies such as oscillation, modulation, resonant circuits, impulse technique, coding/decoding. These techniques are used in telecommunications, computer technology, measurement, control. However, the explicit link to these fields by multiple classification is moderate, in the case of telecommunications 2.4 percent. So the definition as a separate field is justified. However, with 0.9 percent of all applications in 2005, it is the smallest fields of the present version of the classification.
6. Computer technology: this field is the largest of the proposed classification with 6.4 percent of all applications in 2005. Its size is already reduced by extracting field 7. The core area of C06F (Electrical digital processing) is defined in a very technical way (Arrangement for programme control, methods and arrangements for data conversion ...), so that a further break-down is difficult. It may be possible to separate specific application fields such as image data processing, recognition of data or speech analysis, but then these special fields may become too small.
7. IT methods for management: a major improvement of IPC8 is the introduction of the sub-class G06Q “Data processing methods, specially adapted for administrative, commercial, financial, managerial, supervisory or forecasting purposes”. This field represents software for these special purposes. In most countries, business methods are not patentable, but if they are admitted, they are registered in this sub-class. In any case, the size of this field is relevant with 1.2 percent of all applications in 2005. A combination of the fields 3 to 7 represents information technology in general. As the overlap is limited, this can be done by simple addition. The correct way is to combine the fields without double counting (unit)
8. Semiconductors: the field comprises semiconductors including methods for their production. Integrated circuits or photovoltaic elements belong to this field. The field includes microstructural technology (B81), as the number of applications in this sub-field is too small for a separate field.
9. Optics: this field covers all parts of traditional optical elements and apparatus, but also laser beam sources. In recent years new optical technologies such as optical switching have become more relevant.
10. Measurement: this field covers a broad variety of different techniques and applications. It would be possible to differentiate special sub-fields such as measuring of mechanical properties (length, oscillation, speed ...), but these sub-fields are generally too small.
11. Analysis of biological materials: this is the largest sub-field of “measurement” and was defined as a separate field. It primarily refers to the analysis of blood for medical purposes. In many cases, biotechnological methods are addressed.
12. Control: In the ISI-OST-INPI classification, this field was part of measuring & control. In recent years the part of control has become quantitatively more important, so that an independent field is justified. The field covers elements for controlling and regulating electrical and non-electrical systems and referring test arrangements, traffic control or signalling systems etc.
13. Medical technology: Medical technology is generally associated with high technology. However, a large part of the class A61 refers to less sophisticated products and technologies such as operating tables, massage devices, bandages etc. These less complex sub-fields represent a large number of patent applications, and the total field is the second largest of the suggested classification with 6.3 percent of all applications in 2005.
14. Organic fine chemistry: without further limitations, the applications in organic chemistry primarily refer to pharmaceuticals. More than 40 percent of the applications have an additional code in pharmaceuticals. As such a large overlap of fields is less appropriate for a classification system, all documents with co-classification in A61K were excluded. The major exception is the group A61K-008, which refers to cosmetics.
15. Biotechnology: biotechnology is defined as a separate field, although it is linked to a variety of different applications. Like organic chemistry or computer technology, it is a crosscutting or generic technology. However, the overlap with pharmaceuticals is too large, with a share of nearly 30 percent. Therefore, as in organic chemistry, applications with explicit co-classification in A61K are excluded.
16. Pharmaceuticals: this field refers to an area of application, not a technology. However, the key sub-class A61K is primarily organized by technologies (e.g., medicinal preparations containing inorganic active ingredients …). Cosmetics are explicitly excluded from the field; these represent about 10 percent of all applications classified in A61K.
17. Macromolecular chemistry, polymers: this field contains the chemical aspects of polymers. Machines for producing articles from plastics are classified in B29 and not included.
18. Food chemistry: this field represents 1.3 percent of the applications in 2005 and is one of the smallest fields in this classification. However, the growth of this field is remarkable, so that a higher weight can be assumed for the next years. Machines for food production are not included, but classified as part of field 28 (other special machines)
19. Basic materials chemistry: This field primarily covers typical mass chemicals such as herbicides, fertilisers, paints, petroleum, gas, detergents etc.
20. Materials, metallurgy: This field covers all types of metals, ceramics, glass or processes for the manufacture of steel.
21. Surface technology, coating: The coating of metals, generally with advanced methods represents the core of this field (C23). Furthermore it covers electrolytic processes, crystal growth and apparatus for applying liquids to surfaces. This field may be qualified as the high-tech part of field 20.
22. Micro-structure and nano-technology: This field covers micro-structural devices or systems, including at least one essential element or formation characterised by its very small size. It includes nano-structures having specialised features directly related to their size.
23. Chemical engineering: This field covers technologies at the borderline of chemistry and engineering. It refers to apparatus and processes for the industrial production of chemicals. Some of these processes may be classified as physical ones.
24. Environmental technology: This field covers a variety of different technologies and applications, in particular filters, waste disposal, water cleaning (a quite large area), gas-flow silencers and exhaust apparatus, waste combustion or noise absorption walls. However, it is not possible to define measuring of environmental pollution by IPC codes in a comprehensive way.
25. Handling: This field comprises elevators, cranes or robots, but also packaging devices. So in terms of research intensity, the field is quite heterogeneous.
26. Machine tools: The field is dominated by patent applications referring to turning, boring, grinding, soldering or cutting with a focus on metals.
27. Engines, pumps, turbines: This field covers non-electrical engines for all types of applications. In quantitative terms, applications for automobiles dominate.
28. Textile and paper machines: The fields 27 and 28 cover machines for specific production purposes. Textile and food machines represent the most relevant part of these machines and are classified separately.
29. Other special machines: see field 26.
30. Thermal processes and apparatus: The field covers applications such as steam generation, combustion, heating, refrigeration, cooling or heat exchange.
31. Mechanical elements: The field covers fluid-circuit elements, joints, shafts, couplings, valves, pipe-line systems or mechanical control devices. The focus is on engineering elements of machines such as joints or couplings.
32. Transport: the field covers all types of transport technology and applications with dominance of automotive technology. In principle, a separation of rail traffic and air traffic would be feasible, but the associated fields would be too small. In both cases, this is due to a low propensity to patent. The samples are quite small and not representative of the total technological activities in these sub-fields.
33. Furniture, games: this field represents the main parts of consumer goods in terms of the number of patent applications. The other consumer goods are a mix of many different technologies, all of them with low quantitative weight. Therefore a further differentiation is not useful. Even furniture and games combined comprise not more than 2.3 percent of all applications in 2005.
34. Other consumer goods: this field primarily represents less research-intensive sub-fields.
35. Civil engineering: the field covers construction of roads and buildings as well as elements of buildings such as locks, plumbing installations or strongrooms for valuables. A special part refers to mining which may be important for some countries. In general, the importance of this field is so low that the definition of a separate field is not justified.
'''
description_list = description_str.split('\n')
description_dict = {
                    'field': [field.split(':')[0].split('. ')[-1] for field in description_list][:-1],
                    'description': [description.split(':')[-1][1:] for description in description_list][:-1]
                    }
description_en_df = pd.DataFrame(description_dict)
description_en_df.index += 1
description_en_df.to_csv(f'{output_dir}35_description_en.csv', 
                        sep=',', 
                        encoding='utf-8', 
                        index=False)

In [51]:
description_ja_df = description_en_df.copy()
translator =Translator()
for i, row in description_ja_df.iterrows():
     description_ja_df.loc[i, 'field'] = translator.translate(text=row['field'], dest="ja").text
     description_ja_df.loc[i, 'description'] = translator.translate(text=row['description'], dest="ja").text
description_ja_df.to_csv(f'{output_dir}35_description_ja.csv', 
                         sep=',',
                         encoding='utf-8',
                         index=False)

               field                                        description
1      電気機械、装置、エネルギー  このフィールドは、主に電気工学の非電子部分をカバーしています。たとえば、電力、電気機械の生成...
2   オーディオビジュアルテクノロジー  視聴覚テクノロジーは、大部分が家電に相当します。関連するIPCコードは主にテクノロジーを指し...
3                 通信  電気通信は、さまざまな技術や製品をカバーする非常に広範な分野です。IPCコードは多くの場合、...
4             デジタル通信  ISI-ast-inpi分類では、この分野は通信の一部でした。現在、それは電気通信とコンピュ...
5         基本的な通信プロセス  ISI-ast-inpi分類では、この分野は通信の一部でした。振動、変調、共振回路、衝動技術...
6      コンピューターテクノロジー  このフィールドは、2005年にすべてのアプリケーションの6.4％を持つ提案された分類の最大で...
7       管理のためのITメソッド  IPC8の大幅な改善は、サブクラスのG06Q「データ処理方法の導入であり、特に管理、商業、財...
8                半導体  このフィールドは、生産方法を含む半導体で構成されています。統合された回路または太陽光発電要素...
9                 光学  このフィールドは、従来の光学要素と装置のすべての部分をカバーしていますが、レーザービーム源も...
10                測定  このフィールドは、さまざまなさまざまな技術とアプリケーションをカバーしています。機械的特性（...
11         生物学的材料の分析  これは「測定」の最大のサブフィールドであり、別のフィールドとして定義されました。それは主に医...
12            コントロール  ISI-IS-INPI分類では、このフィールドは測定と制御の一部でした。近年、制御の一部が定...
13              医療技術  医療技術は一般にハイテクに関連しています。ただし、クラスA61の大部分は、操作テーブル、マッ...
14            有機微細化学  それ以上の制限がなければ、有機化学の用途は主に医薬品を指します。アプリケーションの40％以上...
15         バイオテクノロジー  バイオテクノロジーは別の分野として定義されていますが、さまざまなアプリケーションにリンクされ...
16               医薬品  このフィールドは、テクノロジーではなく、アプリケーションの領域を指します。ただし、主要なサブ...
17        高分子化学、ポリマー  このフィールドには、ポリマーの化学的側面が含まれています。プラスチックから記事を作成するため...
18              食品化学  この分野は、2005年のアプリケーションの1.3％を占めており、この分類で最も小さな分野の1...
19            基本材料化学  このフィールドは、主に除草剤、肥料、塗料、石油、ガス、洗剤などの典型的な質量化学物質をカバー...
20             材料、冶金  このフィールドは、鋼の製造のためのあらゆる種類の金属、セラミック、ガラス、またはプロセスをカ...
21       表面技術、コーティング  一般的に高度な方法を備えた金属のコーティングは、このフィールドのコアを表しています（C23）...
22   マイクロ構造とナノテクノロジー  このフィールドは、非常に小さなサイズを特徴とする少なくとも1つの必須要素または形成を含む、マ...
23              化学工学  このフィールドは、化学と工学の境界線の技術をカバーしています。化学物質の工業生産の装置とプロ...
24              環境技術  このフィールドは、さまざまな技術とアプリケーション、特にフィルター、廃棄物処理、水の洗浄（非...
25              取り扱い  このフィールドは、エレベーター、クレーン、またはロボットだけでなく、パッケージングデバイスで...
26              工作機械  この分野は、金属に焦点を当てたターニング、退屈、研削、はんだ付け、または切断を指す特許出願に...
27     エンジン、ポンプ、タービン  このフィールドは、あらゆるタイプのアプリケーションの非電気エンジンをカバーしています。定量的...
28    テキスタイルマシンと紙の機械  特定の生産目的で、フィールド27と28のカバーマシン。テキスタイルマシンとフードマシンは、こ...
29          他の特別なマシン                                  フィールド26を参照してください。
30          熱プロセスと装置  このフィールドは、蒸気生成、燃焼、暖房、冷蔵、冷却、熱交換などのアプリケーションをカバーして...
31             機械的要素  フィールドは、流体回路要素、ジョイント、シャフト、カップリング、バルブ、パイプラインシステム...
32                輸送  このフィールドは、自動車技術の支配を備えたあらゆる種類の輸送技術とアプリケーションをカバーし...
33            家具、ゲーム  この分野は、特許出願の数の観点から消費財の主要部分を表しています。他の消費財は、多くの異なる...
34           その他の消費財                この分野は、主に研究集約型のサブフィールドが少ないことを表しています。
35              土木工学  このフィールドは、道路や建物の建設だけでなく、ロック、配管設備、貴重品用の強力な部屋などの建...

In [58]:
description_df = pd.concat([description_en_df.rename(columns={'field':'field_en', 'description':'description_en'}), 
                            description_ja_df.rename(columns={'field':'field_ja', 'description':'description_ja'})], 
                           axis='columns')[['field_en', 'field_ja', 'description_en', 'description_ja']]
description_df.to_csv(f'{output_dir}35_description.csv',
                      sep=',',
                      encoding='utf-8',
                      index=False)

In [59]:
description_df

,field_en,field_ja,description_en,description_ja
1,"Electrical machinery, apparatus, energy",電気機械、装置、エネルギー,the field primarily covers the non-electronic ...,このフィールドは、主に電気工学の非電子部分をカバーしています。たとえば、電力、電気機械の生成...
2,Audio-visual technology,オーディオビジュアルテクノロジー,audio-visual technology is largely equivalent ...,視聴覚テクノロジーは、大部分が家電に相当します。関連するIPCコードは主にテクノロジーを指し...
3,Telecommunications,通信,telecommunications is a very broad field cover...,電気通信は、さまざまな技術や製品をカバーする非常に広範な分野です。IPCコードは多くの場合、...
4,Digital communication,デジタル通信,"in the ISI-OST-INPI classification, this field...",ISI-ast-inpi分類では、この分野は通信の一部でした。現在、それは電気通信とコンピュ...
5,Basic communication processes,基本的な通信プロセス,"in the ISI-OST-INPI classification, this field...",ISI-ast-inpi分類では、この分野は通信の一部でした。振動、変調、共振回路、衝動技術...
6,Computer technology,コンピューターテクノロジー,this field is the largest of the proposed clas...,このフィールドは、2005年にすべてのアプリケーションの6.4％を持つ提案された分類の最大で...
7,IT methods for management,管理のためのITメソッド,a major improvement of IPC8 is the introductio...,IPC8の大幅な改善は、サブクラスのG06Q「データ処理方法の導入であり、特に管理、商業、財...
8,Semiconductors,半導体,the field comprises semiconductors including m...,このフィールドは、生産方法を含む半導体で構成されています。統合された回路または太陽光発電要素...
9,Optics,光学,this field covers all parts of traditional opt...,このフィールドは、従来の光学要素と装置のすべての部分をカバーしていますが、レーザービーム源も...
10,Measurement,測定,this field covers a broad variety of different...,このフィールドは、さまざまなさまざまな技術とアプリケーションをカバーしています。機械的特性（...
11,Analysis of biological materials,生物学的材料の分析,this is the largest sub-field of “measurement”...,これは「測定」の最大のサブフィールドであり、別のフィールドとして定義されました。それは主に医...
12,Control,コントロール,"In the ISI-OST-INPI classification, this field...",ISI-IS-INPI分類では、このフィールドは測定と制御の一部でした。近年、制御の一部が定...
13,Medical technology,医療技術,Medical technology is generally associated wit...,医療技術は一般にハイテクに関連しています。ただし、クラスA61の大部分は、操作テーブル、マッ...
14,Organic fine chemistry,有機微細化学,"without further limitations, the applications ...",それ以上の制限がなければ、有機化学の用途は主に医薬品を指します。アプリケーションの40％以上...
15,Biotechnology,バイオテクノロジー,"biotechnology is defined as a separate field, ...",バイオテクノロジーは別の分野として定義されていますが、さまざまなアプリケーションにリンクされ...
16,Pharmaceuticals,医薬品,"this field refers to an area of application, n...",このフィールドは、テクノロジーではなく、アプリケーションの領域を指します。ただし、主要なサブ...
17,"Macromolecular chemistry, polymers",高分子化学、ポリマー,this field contains the chemical aspects of po...,このフィールドには、ポリマーの化学的側面が含まれています。プラスチックから記事を作成するため...
18,Food chemistry,食品化学,this field represents 1.3 percent of the appli...,この分野は、2005年のアプリケーションの1.3％を占めており、この分類で最も小さな分野の1...
19,Basic materials chemistry,基本材料化学,This field primarily covers typical mass chemi...,このフィールドは、主に除草剤、肥料、塗料、石油、ガス、洗剤などの典型的な質量化学物質をカバー...
20,"Materials, metallurgy",材料、冶金,"This field covers all types of metals, ceramic...",このフィールドは、鋼の製造のためのあらゆる種類の金属、セラミック、ガラス、またはプロセスをカ...
21,"Surface technology, coating",表面技術、コーティング,"The coating of metals, generally with advanced...",一般的に高度な方法を備えた金属のコーティングは、このフィールドのコアを表しています（C23）...
22,Micro-structure and nano-technology,マイクロ構造とナノテクノロジー,This field covers micro-structural devices or ...,このフィールドは、非常に小さなサイズを特徴とする少なくとも1つの必須要素または形成を含む、マ...
23,Chemical engineering,化学工学,This field covers technologies at the borderli...,このフィールドは、化学と工学の境界線の技術をカバーしています。化学物質の工業生産の装置とプロ...
24,Environmental technology,環境技術,This field covers a variety of different techn...,このフィールドは、さまざまな技術とアプリケーション、特にフィルター、廃棄物処理、水の洗浄（非...
25,Handling,取り扱い,"This field comprises elevators, cranes or robo...",このフィールドは、エレベーター、クレーン、またはロボットだけでなく、パッケージングデバイスで...
26,Machine tools,工作機械,The field is dominated by patent applications ...,この分野は、金属に焦点を当てたターニング、退屈、研削、はんだ付け、または切断を指す特許出願に...
27,"Engines, pumps, turbines",エンジン、ポンプ、タービン,This field covers non-electrical engines for a...,このフィールドは、あらゆるタイプのアプリケーションの非電気エンジンをカバーしています。定量的...
28,Textile and paper machines,テキスタイルマシンと紙の機械,The fields 27 and 28 cover machines for specif...,特定の生産目的で、フィールド27と28のカバーマシン。テキスタイルマシンとフードマシンは、こ...
29,Other special machines,他の特別なマシン,see field 26.,フィールド26を参照してください。
30,Thermal processes and apparatus,熱プロセスと装置,The field covers applications such as steam ge...,このフィールドは、蒸気生成、燃焼、暖房、冷蔵、冷却、熱交換などのアプリケーションをカバーして...
31,Mechanical elements,機械的要素,"The field covers fluid-circuit elements, joint...",フィールドは、流体回路要素、ジョイント、シャフト、カップリング、バルブ、パイプラインシステム...
32,Transport,輸送,the field covers all types of transport techno...,このフィールドは、自動車技術の支配を備えたあらゆる種類の輸送技術とアプリケーションをカバーし...
33,"Furniture, games",家具、ゲーム,this field represents the main parts of consum...,この分野は、特許出願の数の観点から消費財の主要部分を表しています。他の消費財は、多くの異なる...
34,Other consumer goods,その他の消費財,this field primarily represents less research-...,この分野は、主に研究集約型のサブフィールドが少ないことを表しています。
35,Civil engineering,土木工学,the field covers construction of roads and bui...,このフィールドは、道路や建物の建設だけでなく、ロック、配管設備、貴重品用の強力な部屋などの建...

---

In [6]:
# energyを細かく見る場合
df = pd.concat([value for value in df_dict.values()], 
               axis="index", 
               ignore_index=True)\
    .drop_duplicates(subset=['IPC_code'], keep='first')
df['IPC_code'] = df['IPC_code'].str.replace('%', '').str.replace('#', '')
df['IPC_class'] = df['IPC_code'].str.replace('%', '').str.replace('#', '').str[:3]
df['IPC_subclass'] = df['IPC_code'].str.replace('%', '').str.replace('#', '').str[:4]
df

,Field_number,Field_en,IPC_code,IPC_class,IPC_subclass
0,1,"Electrical machinery, apparatus, energy",F21H,F21,F21H
1,1,"Electrical machinery, apparatus, energy",F21K,F21,F21K
2,1,"Electrical machinery, apparatus, energy",F21L,F21,F21L
3,1,"Electrical machinery, apparatus, energy",F21S,F21,F21S
4,1,"Electrical machinery, apparatus, energy",F21V,F21,F21V
...,...,...,...,...,...
832,94,Hydro energy,B63H 19/04,B63,B63H
833,94,Hydro energy,E02B 9/00,E02,E02B
834,94,Hydro energy,E02B 9/02,E02,E02B
835,94,Hydro energy,E02B 9/04,E02,E02B
836,94,Hydro energy,E02B 9/06,E02,E02B

In [7]:
df[(df['IPC_code'] != df['IPC_subclass']) & (df['IPC_code'] != df['IPC_class'])]

     Field_number                 Field_en     IPC_code IPC_class IPC_subclass
33              2  Audio-visual technology    H04N   3/       H04         H04N
34              2  Audio-visual technology    H04N   5/       H04         H04N
35              2  Audio-visual technology    H04N   7/       H04         H04N
36              2  Audio-visual technology    H04N   9/       H04         H04N
37              2  Audio-visual technology    H04N  11/       H04         H04N
..            ...                      ...          ...       ...          ...
832            94             Hydro energy  B63H  19/04       B63         B63H
833            94             Hydro energy  E02B   9/00       E02         E02B
834            94             Hydro energy  E02B   9/02       E02         E02B
835            94             Hydro energy  E02B   9/04       E02         E02B
836            94             Hydro energy  E02B   9/06       E02         E02B

[182 rows x 5 columns]

In [8]:
for uni_str in df[(df['IPC_code'] != df['IPC_subclass']) & (df['IPC_code'] != df['IPC_class'])]['IPC_subclass'].unique():
    print('=======================================')
    display(df[df['IPC_code']==uni_str])
    display(df[df['IPC_subclass']==uni_str])

=======================================

Empty DataFrame
Columns: [Field_number, Field_en, IPC_code, IPC_class, IPC_subclass]
Index: []

    Field_number                 Field_en   IPC_code IPC_class IPC_subclass
33             2  Audio-visual technology  H04N   3/       H04         H04N
34             2  Audio-visual technology  H04N   5/       H04         H04N
35             2  Audio-visual technology  H04N   7/       H04         H04N
36             2  Audio-visual technology  H04N   9/       H04         H04N
37             2  Audio-visual technology  H04N  11/       H04         H04N
38             2  Audio-visual technology  H04N  13/       H04         H04N
39             2  Audio-visual technology  H04N  15/       H04         H04N
40             2  Audio-visual technology  H04N  17/       H04         H04N
41             2  Audio-visual technology  H04N  19/       H04         H04N
42             2  Audio-visual technology  H04N  23/       H04         H04N
43             2  Audio-visual technology  H04N  25/       H04         H04N
44             2  Audio-visual technology  H04N 101/       H04         H04N
56             3       Telecommunications  H04N   1/       H04         H04N
59             4    Digital communication  H04N  21/       H04         H04N

=======================================

Empty DataFrame
Columns: [Field_number, Field_en, IPC_code, IPC_class, IPC_subclass]
Index: []

,Field_number,Field_en,IPC_code,IPC_class,IPC_subclass
111,10,Measurement,G01N 1/,G01,G01N
112,10,Measurement,G01N 3/,G01,G01N
113,10,Measurement,G01N 5/,G01,G01N
114,10,Measurement,G01N 7/,G01,G01N
115,10,Measurement,G01N 9/,G01,G01N
116,10,Measurement,G01N 11/,G01,G01N
117,10,Measurement,G01N 13/,G01,G01N
118,10,Measurement,G01N 15/,G01,G01N
119,10,Measurement,G01N 17/,G01,G01N
120,10,Measurement,G01N 19/,G01,G01N
121,10,Measurement,G01N 21/,G01,G01N
122,10,Measurement,G01N 22/,G01,G01N
123,10,Measurement,G01N 23/,G01,G01N
124,10,Measurement,G01N 24/,G01,G01N
125,10,Measurement,G01N 25/,G01,G01N
126,10,Measurement,G01N 27/,G01,G01N
127,10,Measurement,G01N 29/,G01,G01N
128,10,Measurement,G01N 30/,G01,G01N
129,10,Measurement,G01N 31/,G01,G01N
130,10,Measurement,G01N 35/,G01,G01N
131,10,Measurement,G01N 37/,G01,G01N
146,11,Analysis of biological materials,G01N 33/,G01,G01N

=======================================

Empty DataFrame
Columns: [Field_number, Field_en, IPC_code, IPC_class, IPC_subclass]
Index: []

     Field_number                Field_en   IPC_code IPC_class IPC_subclass
172            14  Organic fine chemistry  A61K   8/       A61         A61K
189            16         Pharmaceuticals  A61K   6/       A61         A61K
190            16         Pharmaceuticals  A61K   9/       A61         A61K
191            16         Pharmaceuticals  A61K  31/       A61         A61K
192            16         Pharmaceuticals  A61K  33/       A61         A61K
193            16         Pharmaceuticals  A61K  35/       A61         A61K
194            16         Pharmaceuticals  A61K  36/       A61         A61K
195            16         Pharmaceuticals  A61K  38/       A61         A61K
196            16         Pharmaceuticals  A61K  39/       A61         A61K
197            16         Pharmaceuticals  A61K  41/       A61         A61K
198            16         Pharmaceuticals  A61K  45/       A61         A61K
199            16         Pharmaceuticals  A61K  47/       A61         A61K
200            16         Pharmaceuticals  A61K  48/       A61         A61K
201            16         Pharmaceuticals  A61K  49/       A61         A61K
202            16         Pharmaceuticals  A61K  50/       A61         A61K
203            16         Pharmaceuticals  A61K  51/       A61         A61K
204            16         Pharmaceuticals  A61K 101/       A61         A61K
205            16         Pharmaceuticals  A61K 103/       A61         A61K
206            16         Pharmaceuticals  A61K 125/       A61         A61K
207            16         Pharmaceuticals  A61K 127/       A61         A61K
208            16         Pharmaceuticals  A61K 129/       A61         A61K
209            16         Pharmaceuticals  A61K 131/       A61         A61K
210            16         Pharmaceuticals  A61K 133/       A61         A61K
211            16         Pharmaceuticals  A61K 135/       A61         A61K

=======================================

Empty DataFrame
Columns: [Field_number, Field_en, IPC_code, IPC_class, IPC_subclass]
Index: []

     Field_number                Field_en   IPC_code IPC_class IPC_subclass
235            18          Food chemistry  C13B  10/       C13         C13B
236            18          Food chemistry  C13B  20/       C13         C13B
237            18          Food chemistry  C13B  30/       C13         C13B
238            18          Food chemistry  C13B  35/       C13         C13B
239            18          Food chemistry  C13B  40/       C13         C13B
240            18          Food chemistry  C13B  50/       C13         C13B
241            18          Food chemistry  C13B  99/       C13         C13B
552            29  Other special machines  C13B   5/       C13         C13B
553            29  Other special machines  C13B  15/       C13         C13B
554            29  Other special machines  C13B  25/       C13         C13B
555            29  Other special machines  C13B  45/       C13         C13B

=======================================

Empty DataFrame
Columns: [Field_number, Field_en, IPC_code, IPC_class, IPC_subclass]
Index: []

     Field_number                  Field_en   IPC_code IPC_class IPC_subclass
312            23      Chemical engineering  B01D   1/       B01         B01D
313            23      Chemical engineering  B01D   3/       B01         B01D
314            23      Chemical engineering  B01D   5/       B01         B01D
315            23      Chemical engineering  B01D   7/       B01         B01D
316            23      Chemical engineering  B01D   8/       B01         B01D
317            23      Chemical engineering  B01D   9/       B01         B01D
318            23      Chemical engineering  B01D  11/       B01         B01D
319            23      Chemical engineering  B01D  12/       B01         B01D
320            23      Chemical engineering  B01D  15/       B01         B01D
321            23      Chemical engineering  B01D  17/       B01         B01D
322            23      Chemical engineering  B01D  19/       B01         B01D
323            23      Chemical engineering  B01D  21/       B01         B01D
324            23      Chemical engineering  B01D  24/       B01         B01D
325            23      Chemical engineering  B01D  25/       B01         B01D
326            23      Chemical engineering  B01D  27/       B01         B01D
327            23      Chemical engineering  B01D  29/       B01         B01D
328            23      Chemical engineering  B01D  33/       B01         B01D
329            23      Chemical engineering  B01D  35/       B01         B01D
330            23      Chemical engineering  B01D  36/       B01         B01D
331            23      Chemical engineering  B01D  37/       B01         B01D
332            23      Chemical engineering  B01D  39/       B01         B01D
333            23      Chemical engineering  B01D  41/       B01         B01D
334            23      Chemical engineering  B01D  43/       B01         B01D
335            23      Chemical engineering  B01D  57/       B01         B01D
336            23      Chemical engineering  B01D  59/       B01         B01D
337            23      Chemical engineering  B01D  61/       B01         B01D
338            23      Chemical engineering  B01D  63/       B01         B01D
339            23      Chemical engineering  B01D  65/       B01         B01D
340            23      Chemical engineering  B01D  67/       B01         B01D
341            23      Chemical engineering  B01D  69/       B01         B01D
342            23      Chemical engineering  B01D  71/       B01         B01D
365            24  Environmental technology  B01D  45/       B01         B01D
366            24  Environmental technology  B01D  46/       B01         B01D
367            24  Environmental technology  B01D  47/       B01         B01D
368            24  Environmental technology  B01D  49/       B01         B01D
369            24  Environmental technology  B01D  50/       B01         B01D
370            24  Environmental technology  B01D  51/       B01         B01D
371            24  Environmental technology  B01D  52/       B01         B01D
372            24  Environmental technology  B01D  53/       B01         B01D

=======================================

Empty DataFrame
Columns: [Field_number, Field_en, IPC_code, IPC_class, IPC_subclass]
Index: []

     Field_number                  Field_en   IPC_code IPC_class IPC_subclass
377            24  Environmental technology  E01F   8/       E01         E01F
735            35         Civil engineering  E01F   1/       E01         E01F
736            35         Civil engineering  E01F   3/       E01         E01F
737            35         Civil engineering  E01F   5/       E01         E01F
738            35         Civil engineering  E01F   7/       E01         E01F
739            35         Civil engineering  E01F   9/       E01         E01F
740            35         Civil engineering  E01F  11/       E01         E01F
741            35         Civil engineering  E01F  13/       E01         E01F
742            35         Civil engineering  E01F  15/       E01         E01F

=======================================

     Field_number           Field_en IPC_code IPC_class IPC_subclass
754            35  Civil engineering     E04D       E04         E04D

     Field_number           Field_en     IPC_code IPC_class IPC_subclass
754            35  Civil engineering         E04D       E04         E04D
770            90       Solar energy  E04D   1/30       E04         E04D
771            90       Solar energy  E04D  13/18       E04         E04D

=======================================

     Field_number                  Field_en IPC_code IPC_class IPC_subclass
457            27  Engines, pumps, turbines     F03G       F03         F03G

,Field_number,Field_en,IPC_code,IPC_class,IPC_subclass
457,27,"Engines, pumps, turbines",F03G,F03,F03G
772,90,Solar energy,F03G 6/06,F03,F03G
827,93,Geothermal energy,F03G 4/00,F03,F03G
828,93,Geothermal energy,F03G 7/05,F03,F03G

=======================================

,Field_number,Field_en,IPC_code,IPC_class,IPC_subclass
586,30,Thermal processes and apparatus,F24J,F24,F24J

,Field_number,Field_en,IPC_code,IPC_class,IPC_subclass
586,30,Thermal processes and apparatus,F24J,F24,F24J
773,90,Solar energy,F24J 2/00,F24,F24J
774,90,Solar energy,F24J 2/02,F24,F24J
775,90,Solar energy,F24J 2/04,F24,F24J
776,90,Solar energy,F24J 2/05,F24,F24J
777,90,Solar energy,F24J 2/06,F24,F24J
778,90,Solar energy,F24J 2/07,F24,F24J
779,90,Solar energy,F24J 2/08,F24,F24J
780,90,Solar energy,F24J 2/10,F24,F24J
781,90,Solar energy,F24J 2/12,F24,F24J
782,90,Solar energy,F24J 2/13,F24,F24J
783,90,Solar energy,F24J 2/14,F24,F24J
784,90,Solar energy,F24J 2/15,F24,F24J
785,90,Solar energy,F24J 2/16,F24,F24J
786,90,Solar energy,F24J 2/18,F24,F24J
787,90,Solar energy,F24J 2/23,F24,F24J
788,90,Solar energy,F24J 2/24,F24,F24J
789,90,Solar energy,F24J 2/36,F24,F24J
790,90,Solar energy,F24J 2/38,F24,F24J
791,90,Solar energy,F24J 2/42,F24,F24J
792,90,Solar energy,F24J 2/46,F24,F24J
829,93,Geothermal energy,F24J 3/08,F24,F24J

=======================================

    Field_number Field_en IPC_code IPC_class IPC_subclass
91             9   Optics     G02B       G02         G02B

     Field_number      Field_en     IPC_code IPC_class IPC_subclass
91              9        Optics         G02B       G02         G02B
794            90  Solar energy  G02B   5/10       G02         G02B

=======================================

    Field_number Field_en IPC_code IPC_class IPC_subclass
93             9   Optics     G02F       G02         G02F

     Field_number      Field_en      IPC_code IPC_class IPC_subclass
93              9        Optics          G02F       G02         G02F
795            90  Solar energy  G02F   1/136       G02         G02F

=======================================

     Field_number Field_en IPC_code IPC_class IPC_subclass
149            12  Control     G05F       G05         G05F

     Field_number      Field_en     IPC_code IPC_class IPC_subclass
149            12       Control         G05F       G05         G05F
796            90  Solar energy  G05F   1/67       G05         G05F

=======================================

    Field_number        Field_en IPC_code IPC_class IPC_subclass
89             8  Semiconductors     H01L       H01         H01L

     Field_number        Field_en      IPC_code IPC_class IPC_subclass
89              8  Semiconductors          H01L       H01         H01L
797            90    Solar energy   H01L  25/00       H01         H01L
798            90    Solar energy   H01L  31/00       H01         H01L
799            90    Solar energy   H01L  31/04       H01         H01L
800            90    Solar energy  H01L  31/042       H01         H01L
801            90    Solar energy  H01L  31/048       H01         H01L
802            90    Solar energy  H01L  31/052       H01         H01L
803            90    Solar energy   H01L  31/18       H01         H01L
804            90    Solar energy   H01L  33/00       H01         H01L

=======================================

,Field_number,Field_en,IPC_code,IPC_class,IPC_subclass
20,1,"Electrical machinery, apparatus, energy",H02J,H02,H02J

,Field_number,Field_en,IPC_code,IPC_class,IPC_subclass
20,1,"Electrical machinery, apparatus, energy",H02J,H02,H02J
805,90,Solar energy,H02J 7/35,H02,H02J

=======================================

,Field_number,Field_en,IPC_code,IPC_class,IPC_subclass
23,1,"Electrical machinery, apparatus, energy",H02N,H02,H02N

,Field_number,Field_en,IPC_code,IPC_class,IPC_subclass
23,1,"Electrical machinery, apparatus, energy",H02N,H02,H02N
806,90,Solar energy,H02N 6/00,H02,H02N

=======================================

,Field_number,Field_en,IPC_code,IPC_class,IPC_subclass
14,1,"Electrical machinery, apparatus, energy",H01M,H01,H01M

,Field_number,Field_en,IPC_code,IPC_class,IPC_subclass
14,1,"Electrical machinery, apparatus, energy",H01M,H01,H01M
808,91,Fuel cells technology,H01M 4/00,H01,H01M
809,91,Fuel cells technology,H01M 4/86,H01,H01M
810,91,Fuel cells technology,H01M 4/88,H01,H01M
811,91,Fuel cells technology,H01M 4/90,H01,H01M
812,91,Fuel cells technology,H01M 8/00,H01,H01M
813,91,Fuel cells technology,H01M 8/02,H01,H01M
814,91,Fuel cells technology,H01M 8/04,H01,H01M
815,91,Fuel cells technology,H01M 8/06,H01,H01M
816,91,Fuel cells technology,H01M 8/08,H01,H01M
817,91,Fuel cells technology,H01M 8/10,H01,H01M
818,91,Fuel cells technology,H01M 8/12,H01,H01M
819,91,Fuel cells technology,H01M 8/14,H01,H01M
820,91,Fuel cells technology,H01M 8/16,H01,H01M
821,91,Fuel cells technology,H01M 8/18,H01,H01M
822,91,Fuel cells technology,H01M 8/20,H01,H01M
823,91,Fuel cells technology,H01M 8/22,H01,H01M
824,91,Fuel cells technology,H01M 8/24,H01,H01M

=======================================

     Field_number   Field_en IPC_code IPC_class IPC_subclass
628            32  Transport     B60L       B60         B60L

     Field_number                Field_en     IPC_code IPC_class IPC_subclass
628            32               Transport         B60L       B60         B60L
825            92  Wind energy technology  B60L   8/00       B60         B60L

=======================================

     Field_number   Field_en IPC_code IPC_class IPC_subclass
658            32  Transport     B63H       B63         B63H

     Field_number      Field_en     IPC_code IPC_class IPC_subclass
658            32     Transport         B63H       B63         B63H
831            94  Hydro energy  B63H  19/02       B63         B63H
832            94  Hydro energy  B63H  19/04       B63         B63H

=======================================

     Field_number           Field_en IPC_code IPC_class IPC_subclass
744            35  Civil engineering     E02B       E02         E02B

     Field_number           Field_en     IPC_code IPC_class IPC_subclass
744            35  Civil engineering         E02B       E02         E02B
833            94       Hydro energy  E02B   9/00       E02         E02B
834            94       Hydro energy  E02B   9/02       E02         E02B
835            94       Hydro energy  E02B   9/04       E02         E02B
836            94       Hydro energy  E02B   9/06       E02         E02B