In [1]:
import pandas as pd
import numpy as np
import re
from glob import glob
import regex

In [2]:
global data_dir, output_dir
data_dir = '../../data/original/external/schmoch/'
output_dir = '../../data/processed/external/schmoch/'

In [3]:
df_dict = pd.read_excel(f'{data_dir}ipc_technology.xlsx', 
                        sheet_name=None, 
                        engine='openpyxl', 
                        header=6, 
                        usecols=['Field_number', 'Sector_en', 'Field_en', 'IPC_code'])
df_dict.keys()

dict_keys(['35 Fields of Technology', 'Energy Technology'])

In [4]:
df_35 = df_dict['35 Fields of Technology'].copy()
df_35['IPC_code'] = df_35['IPC_code'].str.replace('%', '')
df_35

,Field_number,Sector_en,Field_en,IPC_code
0,1,Electrical engineering,"Electrical machinery, apparatus, energy",F21H
1,1,Electrical engineering,"Electrical machinery, apparatus, energy",F21K
2,1,Electrical engineering,"Electrical machinery, apparatus, energy",F21L
3,1,Electrical engineering,"Electrical machinery, apparatus, energy",F21S
4,1,Electrical engineering,"Electrical machinery, apparatus, energy",F21V
...,...,...,...,...
765,35,Other fields,Civil engineering,E21B
766,35,Other fields,Civil engineering,E21C
767,35,Other fields,Civil engineering,E21D
768,35,Other fields,Civil engineering,E21F
769,35,Other fields,Civil engineering,E99Z

In [6]:
df_35.to_csv(f'{output_dir}35technology.csv', 
             sep=',', 
             encoding='utf-8', 
             index=False)

---

In [ ]:
# energyを細かく見る場合
df = pd.concat([value for value in df_dict.values()], 
               axis="index", 
               ignore_index=True)\
    .drop_duplicates(subset=['IPC_code'], keep='first')
df['IPC_code'] = df['IPC_code'].str.replace('%', '').str.replace('#', '')
df['IPC_class'] = df['IPC_code'].str.replace('%', '').str.replace('#', '').str[:3]
df['IPC_subclass'] = df['IPC_code'].str.replace('%', '').str.replace('#', '').str[:4]
df

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
0,1,Electrical engineering,"Electrical machinery, apparatus, energy",F21H,F21,F21H
1,1,Electrical engineering,"Electrical machinery, apparatus, energy",F21K,F21,F21K
2,1,Electrical engineering,"Electrical machinery, apparatus, energy",F21L,F21,F21L
3,1,Electrical engineering,"Electrical machinery, apparatus, energy",F21S,F21,F21S
4,1,Electrical engineering,"Electrical machinery, apparatus, energy",F21V,F21,F21V
...,...,...,...,...,...,...
832,94,Energy technology,Hydro energy,B63H 19/04,B63,B63H
833,94,Energy technology,Hydro energy,E02B 9/00,E02,E02B
834,94,Energy technology,Hydro energy,E02B 9/02,E02,E02B
835,94,Energy technology,Hydro energy,E02B 9/04,E02,E02B
836,94,Energy technology,Hydro energy,E02B 9/06,E02,E02B

In [ ]:
df[(df['IPC_code'] != df['IPC_subclass']) & (df['IPC_code'] != df['IPC_class'])]

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
33,2,Electrical engineering,Audio-visual technology,H04N 3/,H04,H04N
34,2,Electrical engineering,Audio-visual technology,H04N 5/,H04,H04N
35,2,Electrical engineering,Audio-visual technology,H04N 7/,H04,H04N
36,2,Electrical engineering,Audio-visual technology,H04N 9/,H04,H04N
37,2,Electrical engineering,Audio-visual technology,H04N 11/,H04,H04N
...,...,...,...,...,...,...
832,94,Energy technology,Hydro energy,B63H 19/04,B63,B63H
833,94,Energy technology,Hydro energy,E02B 9/00,E02,E02B
834,94,Energy technology,Hydro energy,E02B 9/02,E02,E02B
835,94,Energy technology,Hydro energy,E02B 9/04,E02,E02B
836,94,Energy technology,Hydro energy,E02B 9/06,E02,E02B

In [ ]:
for uni_str in df[(df['IPC_code'] != df['IPC_subclass']) & (df['IPC_code'] != df['IPC_class'])]['IPC_subclass'].unique():
    print('=======================================')
    display(df[df['IPC_code']==uni_str])
    display(df[df['IPC_subclass']==uni_str])

=======================================

Empty DataFrame
Columns: [Field_number, Sector_en, Field_en, IPC_code, IPC_class, IPC_subclass]
Index: []

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
33,2,Electrical engineering,Audio-visual technology,H04N 3/,H04,H04N
34,2,Electrical engineering,Audio-visual technology,H04N 5/,H04,H04N
35,2,Electrical engineering,Audio-visual technology,H04N 7/,H04,H04N
36,2,Electrical engineering,Audio-visual technology,H04N 9/,H04,H04N
37,2,Electrical engineering,Audio-visual technology,H04N 11/,H04,H04N
38,2,Electrical engineering,Audio-visual technology,H04N 13/,H04,H04N
39,2,Electrical engineering,Audio-visual technology,H04N 15/,H04,H04N
40,2,Electrical engineering,Audio-visual technology,H04N 17/,H04,H04N
41,2,Electrical engineering,Audio-visual technology,H04N 19/,H04,H04N
42,2,Electrical engineering,Audio-visual technology,H04N 23/,H04,H04N
43,2,Electrical engineering,Audio-visual technology,H04N 25/,H04,H04N
44,2,Electrical engineering,Audio-visual technology,H04N 101/,H04,H04N
56,3,Electrical engineering,Telecommunications,H04N 1/,H04,H04N
59,4,Electrical engineering,Digital communication,H04N 21/,H04,H04N

=======================================

Empty DataFrame
Columns: [Field_number, Sector_en, Field_en, IPC_code, IPC_class, IPC_subclass]
Index: []

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
111,10,Instruments,Measurement,G01N 1/,G01,G01N
112,10,Instruments,Measurement,G01N 3/,G01,G01N
113,10,Instruments,Measurement,G01N 5/,G01,G01N
114,10,Instruments,Measurement,G01N 7/,G01,G01N
115,10,Instruments,Measurement,G01N 9/,G01,G01N
116,10,Instruments,Measurement,G01N 11/,G01,G01N
117,10,Instruments,Measurement,G01N 13/,G01,G01N
118,10,Instruments,Measurement,G01N 15/,G01,G01N
119,10,Instruments,Measurement,G01N 17/,G01,G01N
120,10,Instruments,Measurement,G01N 19/,G01,G01N
121,10,Instruments,Measurement,G01N 21/,G01,G01N
122,10,Instruments,Measurement,G01N 22/,G01,G01N
123,10,Instruments,Measurement,G01N 23/,G01,G01N
124,10,Instruments,Measurement,G01N 24/,G01,G01N
125,10,Instruments,Measurement,G01N 25/,G01,G01N
126,10,Instruments,Measurement,G01N 27/,G01,G01N
127,10,Instruments,Measurement,G01N 29/,G01,G01N
128,10,Instruments,Measurement,G01N 30/,G01,G01N
129,10,Instruments,Measurement,G01N 31/,G01,G01N
130,10,Instruments,Measurement,G01N 35/,G01,G01N
131,10,Instruments,Measurement,G01N 37/,G01,G01N
146,11,Instruments,Analysis of biological materials,G01N 33/,G01,G01N

=======================================

Empty DataFrame
Columns: [Field_number, Sector_en, Field_en, IPC_code, IPC_class, IPC_subclass]
Index: []

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
172,14,Chemistry,Organic fine chemistry,A61K 8/,A61,A61K
189,16,Chemistry,Pharmaceuticals,A61K 6/,A61,A61K
190,16,Chemistry,Pharmaceuticals,A61K 9/,A61,A61K
191,16,Chemistry,Pharmaceuticals,A61K 31/,A61,A61K
192,16,Chemistry,Pharmaceuticals,A61K 33/,A61,A61K
193,16,Chemistry,Pharmaceuticals,A61K 35/,A61,A61K
194,16,Chemistry,Pharmaceuticals,A61K 36/,A61,A61K
195,16,Chemistry,Pharmaceuticals,A61K 38/,A61,A61K
196,16,Chemistry,Pharmaceuticals,A61K 39/,A61,A61K
197,16,Chemistry,Pharmaceuticals,A61K 41/,A61,A61K
198,16,Chemistry,Pharmaceuticals,A61K 45/,A61,A61K
199,16,Chemistry,Pharmaceuticals,A61K 47/,A61,A61K
200,16,Chemistry,Pharmaceuticals,A61K 48/,A61,A61K
201,16,Chemistry,Pharmaceuticals,A61K 49/,A61,A61K
202,16,Chemistry,Pharmaceuticals,A61K 50/,A61,A61K
203,16,Chemistry,Pharmaceuticals,A61K 51/,A61,A61K
204,16,Chemistry,Pharmaceuticals,A61K 101/,A61,A61K
205,16,Chemistry,Pharmaceuticals,A61K 103/,A61,A61K
206,16,Chemistry,Pharmaceuticals,A61K 125/,A61,A61K
207,16,Chemistry,Pharmaceuticals,A61K 127/,A61,A61K
208,16,Chemistry,Pharmaceuticals,A61K 129/,A61,A61K
209,16,Chemistry,Pharmaceuticals,A61K 131/,A61,A61K
210,16,Chemistry,Pharmaceuticals,A61K 133/,A61,A61K
211,16,Chemistry,Pharmaceuticals,A61K 135/,A61,A61K

=======================================

Empty DataFrame
Columns: [Field_number, Sector_en, Field_en, IPC_code, IPC_class, IPC_subclass]
Index: []

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
235,18,Chemistry,Food chemistry,C13B 10/,C13,C13B
236,18,Chemistry,Food chemistry,C13B 20/,C13,C13B
237,18,Chemistry,Food chemistry,C13B 30/,C13,C13B
238,18,Chemistry,Food chemistry,C13B 35/,C13,C13B
239,18,Chemistry,Food chemistry,C13B 40/,C13,C13B
240,18,Chemistry,Food chemistry,C13B 50/,C13,C13B
241,18,Chemistry,Food chemistry,C13B 99/,C13,C13B
552,29,Mechanical engineering,Other special machines,C13B 5/,C13,C13B
553,29,Mechanical engineering,Other special machines,C13B 15/,C13,C13B
554,29,Mechanical engineering,Other special machines,C13B 25/,C13,C13B
555,29,Mechanical engineering,Other special machines,C13B 45/,C13,C13B

=======================================

Empty DataFrame
Columns: [Field_number, Sector_en, Field_en, IPC_code, IPC_class, IPC_subclass]
Index: []

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
312,23,Chemistry,Chemical engineering,B01D 1/,B01,B01D
313,23,Chemistry,Chemical engineering,B01D 3/,B01,B01D
314,23,Chemistry,Chemical engineering,B01D 5/,B01,B01D
315,23,Chemistry,Chemical engineering,B01D 7/,B01,B01D
316,23,Chemistry,Chemical engineering,B01D 8/,B01,B01D
317,23,Chemistry,Chemical engineering,B01D 9/,B01,B01D
318,23,Chemistry,Chemical engineering,B01D 11/,B01,B01D
319,23,Chemistry,Chemical engineering,B01D 12/,B01,B01D
320,23,Chemistry,Chemical engineering,B01D 15/,B01,B01D
321,23,Chemistry,Chemical engineering,B01D 17/,B01,B01D
322,23,Chemistry,Chemical engineering,B01D 19/,B01,B01D
323,23,Chemistry,Chemical engineering,B01D 21/,B01,B01D
324,23,Chemistry,Chemical engineering,B01D 24/,B01,B01D
325,23,Chemistry,Chemical engineering,B01D 25/,B01,B01D
326,23,Chemistry,Chemical engineering,B01D 27/,B01,B01D
327,23,Chemistry,Chemical engineering,B01D 29/,B01,B01D
328,23,Chemistry,Chemical engineering,B01D 33/,B01,B01D
329,23,Chemistry,Chemical engineering,B01D 35/,B01,B01D
330,23,Chemistry,Chemical engineering,B01D 36/,B01,B01D
331,23,Chemistry,Chemical engineering,B01D 37/,B01,B01D
332,23,Chemistry,Chemical engineering,B01D 39/,B01,B01D
333,23,Chemistry,Chemical engineering,B01D 41/,B01,B01D
334,23,Chemistry,Chemical engineering,B01D 43/,B01,B01D
335,23,Chemistry,Chemical engineering,B01D 57/,B01,B01D
336,23,Chemistry,Chemical engineering,B01D 59/,B01,B01D
337,23,Chemistry,Chemical engineering,B01D 61/,B01,B01D
338,23,Chemistry,Chemical engineering,B01D 63/,B01,B01D
339,23,Chemistry,Chemical engineering,B01D 65/,B01,B01D
340,23,Chemistry,Chemical engineering,B01D 67/,B01,B01D
341,23,Chemistry,Chemical engineering,B01D 69/,B01,B01D
342,23,Chemistry,Chemical engineering,B01D 71/,B01,B01D
365,24,Chemistry,Environmental technology,B01D 45/,B01,B01D
366,24,Chemistry,Environmental technology,B01D 46/,B01,B01D
367,24,Chemistry,Environmental technology,B01D 47/,B01,B01D
368,24,Chemistry,Environmental technology,B01D 49/,B01,B01D
369,24,Chemistry,Environmental technology,B01D 50/,B01,B01D
370,24,Chemistry,Environmental technology,B01D 51/,B01,B01D
371,24,Chemistry,Environmental technology,B01D 52/,B01,B01D
372,24,Chemistry,Environmental technology,B01D 53/,B01,B01D

=======================================

Empty DataFrame
Columns: [Field_number, Sector_en, Field_en, IPC_code, IPC_class, IPC_subclass]
Index: []

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
377,24,Chemistry,Environmental technology,E01F 8/,E01,E01F
735,35,Other fields,Civil engineering,E01F 1/,E01,E01F
736,35,Other fields,Civil engineering,E01F 3/,E01,E01F
737,35,Other fields,Civil engineering,E01F 5/,E01,E01F
738,35,Other fields,Civil engineering,E01F 7/,E01,E01F
739,35,Other fields,Civil engineering,E01F 9/,E01,E01F
740,35,Other fields,Civil engineering,E01F 11/,E01,E01F
741,35,Other fields,Civil engineering,E01F 13/,E01,E01F
742,35,Other fields,Civil engineering,E01F 15/,E01,E01F

=======================================

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
754,35,Other fields,Civil engineering,E04D,E04,E04D

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
754,35,Other fields,Civil engineering,E04D,E04,E04D
770,90,Energy technology,Solar energy,E04D 1/30,E04,E04D
771,90,Energy technology,Solar energy,E04D 13/18,E04,E04D

=======================================

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
457,27,Mechanical engineering,"Engines, pumps, turbines",F03G,F03,F03G

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
457,27,Mechanical engineering,"Engines, pumps, turbines",F03G,F03,F03G
772,90,Energy technology,Solar energy,F03G 6/06,F03,F03G
827,93,Energy technology,Geothermal energy,F03G 4/00,F03,F03G
828,93,Energy technology,Geothermal energy,F03G 7/05,F03,F03G

=======================================

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
586,30,Mechanical engineering,Thermal processes and apparatus,F24J,F24,F24J

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
586,30,Mechanical engineering,Thermal processes and apparatus,F24J,F24,F24J
773,90,Energy technology,Solar energy,F24J 2/00,F24,F24J
774,90,Energy technology,Solar energy,F24J 2/02,F24,F24J
775,90,Energy technology,Solar energy,F24J 2/04,F24,F24J
776,90,Energy technology,Solar energy,F24J 2/05,F24,F24J
777,90,Energy technology,Solar energy,F24J 2/06,F24,F24J
778,90,Energy technology,Solar energy,F24J 2/07,F24,F24J
779,90,Energy technology,Solar energy,F24J 2/08,F24,F24J
780,90,Energy technology,Solar energy,F24J 2/10,F24,F24J
781,90,Energy technology,Solar energy,F24J 2/12,F24,F24J
782,90,Energy technology,Solar energy,F24J 2/13,F24,F24J
783,90,Energy technology,Solar energy,F24J 2/14,F24,F24J
784,90,Energy technology,Solar energy,F24J 2/15,F24,F24J
785,90,Energy technology,Solar energy,F24J 2/16,F24,F24J
786,90,Energy technology,Solar energy,F24J 2/18,F24,F24J
787,90,Energy technology,Solar energy,F24J 2/23,F24,F24J
788,90,Energy technology,Solar energy,F24J 2/24,F24,F24J
789,90,Energy technology,Solar energy,F24J 2/36,F24,F24J
790,90,Energy technology,Solar energy,F24J 2/38,F24,F24J
791,90,Energy technology,Solar energy,F24J 2/42,F24,F24J
792,90,Energy technology,Solar energy,F24J 2/46,F24,F24J
829,93,Energy technology,Geothermal energy,F24J 3/08,F24,F24J

=======================================

    Field_number    Sector_en Field_en IPC_code IPC_class IPC_subclass
91             9  Instruments   Optics     G02B       G02         G02B

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
91,9,Instruments,Optics,G02B,G02,G02B
794,90,Energy technology,Solar energy,G02B 5/10,G02,G02B

=======================================

    Field_number    Sector_en Field_en IPC_code IPC_class IPC_subclass
93             9  Instruments   Optics     G02F       G02         G02F

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
93,9,Instruments,Optics,G02F,G02,G02F
795,90,Energy technology,Solar energy,G02F 1/136,G02,G02F

=======================================

     Field_number    Sector_en Field_en IPC_code IPC_class IPC_subclass
149            12  Instruments  Control     G05F       G05         G05F

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
149,12,Instruments,Control,G05F,G05,G05F
796,90,Energy technology,Solar energy,G05F 1/67,G05,G05F

=======================================

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
89,8,Electrical engineering,Semiconductors,H01L,H01,H01L

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
89,8,Electrical engineering,Semiconductors,H01L,H01,H01L
797,90,Energy technology,Solar energy,H01L 25/00,H01,H01L
798,90,Energy technology,Solar energy,H01L 31/00,H01,H01L
799,90,Energy technology,Solar energy,H01L 31/04,H01,H01L
800,90,Energy technology,Solar energy,H01L 31/042,H01,H01L
801,90,Energy technology,Solar energy,H01L 31/048,H01,H01L
802,90,Energy technology,Solar energy,H01L 31/052,H01,H01L
803,90,Energy technology,Solar energy,H01L 31/18,H01,H01L
804,90,Energy technology,Solar energy,H01L 33/00,H01,H01L

=======================================

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
20,1,Electrical engineering,"Electrical machinery, apparatus, energy",H02J,H02,H02J

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
20,1,Electrical engineering,"Electrical machinery, apparatus, energy",H02J,H02,H02J
805,90,Energy technology,Solar energy,H02J 7/35,H02,H02J

=======================================

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
23,1,Electrical engineering,"Electrical machinery, apparatus, energy",H02N,H02,H02N

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
23,1,Electrical engineering,"Electrical machinery, apparatus, energy",H02N,H02,H02N
806,90,Energy technology,Solar energy,H02N 6/00,H02,H02N

=======================================

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
14,1,Electrical engineering,"Electrical machinery, apparatus, energy",H01M,H01,H01M

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
14,1,Electrical engineering,"Electrical machinery, apparatus, energy",H01M,H01,H01M
808,91,Energy technology,Fuel cells technology,H01M 4/00,H01,H01M
809,91,Energy technology,Fuel cells technology,H01M 4/86,H01,H01M
810,91,Energy technology,Fuel cells technology,H01M 4/88,H01,H01M
811,91,Energy technology,Fuel cells technology,H01M 4/90,H01,H01M
812,91,Energy technology,Fuel cells technology,H01M 8/00,H01,H01M
813,91,Energy technology,Fuel cells technology,H01M 8/02,H01,H01M
814,91,Energy technology,Fuel cells technology,H01M 8/04,H01,H01M
815,91,Energy technology,Fuel cells technology,H01M 8/06,H01,H01M
816,91,Energy technology,Fuel cells technology,H01M 8/08,H01,H01M
817,91,Energy technology,Fuel cells technology,H01M 8/10,H01,H01M
818,91,Energy technology,Fuel cells technology,H01M 8/12,H01,H01M
819,91,Energy technology,Fuel cells technology,H01M 8/14,H01,H01M
820,91,Energy technology,Fuel cells technology,H01M 8/16,H01,H01M
821,91,Energy technology,Fuel cells technology,H01M 8/18,H01,H01M
822,91,Energy technology,Fuel cells technology,H01M 8/20,H01,H01M
823,91,Energy technology,Fuel cells technology,H01M 8/22,H01,H01M
824,91,Energy technology,Fuel cells technology,H01M 8/24,H01,H01M

=======================================

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
628,32,Mechanical engineering,Transport,B60L,B60,B60L

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
628,32,Mechanical engineering,Transport,B60L,B60,B60L
825,92,Energy technology,Wind energy technology,B60L 8/00,B60,B60L

=======================================

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
658,32,Mechanical engineering,Transport,B63H,B63,B63H

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
658,32,Mechanical engineering,Transport,B63H,B63,B63H
831,94,Energy technology,Hydro energy,B63H 19/02,B63,B63H
832,94,Energy technology,Hydro energy,B63H 19/04,B63,B63H

=======================================

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
744,35,Other fields,Civil engineering,E02B,E02,E02B

,Field_number,Sector_en,Field_en,IPC_code,IPC_class,IPC_subclass
744,35,Other fields,Civil engineering,E02B,E02,E02B
833,94,Energy technology,Hydro energy,E02B 9/00,E02,E02B
834,94,Energy technology,Hydro energy,E02B 9/02,E02,E02B
835,94,Energy technology,Hydro energy,E02B 9/04,E02,E02B
836,94,Energy technology,Hydro energy,E02B 9/06,E02,E02B